In [2]:
import pandas as pd
import numpy as np
import os
import nltk

In [3]:
ftrain = r"D:/Padmaja/EdvancerClass/Jupyternotebook/Python_project1/P1 Data/Consumer_Complaints_train.csv"
ftest = r"D:/Padmaja/EdvancerClass/Jupyternotebook/Python_project1/P1 Data/Consumer_Complaints_test_share.csv"

In [4]:
com_train=pd.read_csv(ftrain)
com_test = pd.read_csv(ftest)

In [5]:
com_train.shape, com_test.shape

((478421, 18), (119606, 17))

In [6]:
com_test.columns, com_train.columns

(Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
        'Consumer complaint narrative', 'Company public response', 'Company',
        'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
        'Submitted via', 'Date sent to company', 'Company response to consumer',
        'Timely response?', 'Complaint ID'],
       dtype='object'),
 Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
        'Consumer complaint narrative', 'Company public response', 'Company',
        'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
        'Submitted via', 'Date sent to company', 'Company response to consumer',
        'Timely response?', 'Consumer disputed?', 'Complaint ID'],
       dtype='object'))

In [7]:
com_test['Consumer disputed?']=np.nan
com_train['data']='train'
com_test['data']='test'
com_test=com_test[com_train.columns]
com_all=pd.concat([com_train,com_test],axis=0)
com_all.reset_index(drop=True,inplace=True)

In [8]:
com_train.shape

(478421, 19)

In [9]:
com_train['Tags'].isnull().sum()

411215

In [10]:
com_train.dtypes

Date received                   object
Product                         object
Sub-product                     object
Issue                           object
Sub-issue                       object
Consumer complaint narrative    object
Company public response         object
Company                         object
State                           object
ZIP code                        object
Tags                            object
Consumer consent provided?      object
Submitted via                   object
Date sent to company            object
Company response to consumer    object
Timely response?                object
Consumer disputed?              object
Complaint ID                     int64
data                            object
dtype: object

In [11]:
com_train['Consumer complaint narrative'].nunique()

74019

In [12]:
com_train['Product'].nunique()

12

In [13]:
com_train.isnull().sum()

Date received                        0
Product                              0
Sub-product                     138473
Issue                                0
Sub-issue                       292625
Consumer complaint narrative    403327
Company public response         388029
Company                              0
State                             3839
ZIP code                          3848
Tags                            411215
Consumer consent provided?      342934
Submitted via                        0
Date sent to company                 0
Company response to consumer         0
Timely response?                     0
Consumer disputed?                   0
Complaint ID                         0
data                                 0
dtype: int64

In [14]:
com_all.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,data
0,2014-05-15,Credit card,NaN,Billing statement,NaN,NaN,NaN,Wells Fargo & Company,MI,48342,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103,train
1,2014-09-18,Bank account or service,(CD) Certificate of deposit,"Making/receiving payments, sending money",NaN,NaN,NaN,Santander Bank US,PA,18042,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666,train
2,2014-03-13,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Equifax,CA,92427,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363,train
3,2015-07-17,Credit card,NaN,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",Company chooses not to provide a public response,U.S. Bancorp,GA,305XX,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177,train
4,2014-11-20,Credit card,NaN,Transaction issue,NaN,NaN,NaN,Bank of America,MA,02127,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572,train

In [15]:
com_all.shape

(598027, 19)

In [16]:
com_all.dtypes

Date received                   object
Product                         object
Sub-product                     object
Issue                           object
Sub-issue                       object
Consumer complaint narrative    object
Company public response         object
Company                         object
State                           object
ZIP code                        object
Tags                            object
Consumer consent provided?      object
Submitted via                   object
Date sent to company            object
Company response to consumer    object
Timely response?                object
Consumer disputed?              object
Complaint ID                     int64
data                            object
dtype: object

In [17]:
com_all.drop(['ZIP code'],axis=1,inplace=True)

In [18]:
com_all.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'Tags', 'Consumer consent provided?', 'Submitted via',
       'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID', 'data'],
      dtype='object')

In [19]:
com_all.isnull().sum()

Date received                        0
Product                              0
Sub-product                     173225
Issue                                0
Sub-issue                       365685
Consumer complaint narrative    504376
Company public response         484859
Company                              0
State                             4764
Tags                            513950
Consumer consent provided?      428676
Submitted via                        1
Date sent to company                 0
Company response to consumer         0
Timely response?                     0
Consumer disputed?              119606
Complaint ID                         0
data                                 0
dtype: int64

In [20]:
com_all['Company public response'].value_counts()

Company chooses not to provide a public response                                                                           52466
Company has responded to the consumer and the CFPB and chooses not to provide a public response                            32203
Company believes it acted appropriately as authorized by contract or law                                                   20052
Company believes complaint caused principally by actions of third party outside the control or direction of the company     1809
Company believes the complaint is the result of a misunderstanding                                                          1759
Company disputes the facts presented in the complaint                                                                       1736
Company believes complaint is the result of an isolated error                                                               1317
Company can't verify or dispute the facts in the complaint                                                                  1178
Company believes complaint represents an opportunity for improvement to better serve consumers                               617
Company believes complaint relates to a discontinued policy or procedure                                                      31
Name: Company public response, dtype: int64

In [21]:
com_all[com_all['Company public response'] =='Company believes complaint represents an opportunity for improvement to better serve consumers']

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,data
1955,2015-03-23,Student loan,Non-federal student loan,Dealing with my lender or servicer,Having problems with customer service,After working very hard to pay off my Sallie M...,Company believes complaint represents an oppor...,Sallie Mae,CA,NaN,Consent provided,Web,2015-03-23,Closed with explanation,Yes,No,1296107,train
3161,2015-04-04,Debt collection,I do not know,Improper contact or sharing of info,Talked to a third party about my debt,NaN,Company believes complaint represents an oppor...,Cade Investments LLC,CA,Servicemember,Consent not provided,Web,2015-04-27,Closed,Yes,No,1315886,train
5345,2015-10-04,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,Hello : I am contacting you with a copy of my ...,Company believes complaint represents an oppor...,"Shellpoint Partners, LLC",FL,NaN,Consent provided,Web,2015-10-04,Closed with explanation,Yes,No,1591835,train
6122,2016-03-14,Mortgage,Conventional fixed mortgage,"Application, originator, mortgage broker",NaN,I contacted Amerisave Mortgage and spoke to XX...,Company believes complaint represents an oppor...,Amerisave,GA,Older American,Consent provided,Web,2016-03-14,Closed with monetary relief,Yes,No,1830069,train
7165,2015-10-26,Prepaid card,Mobile wallet,"Managing, opening, or closing account",NaN,NaN,Company believes complaint represents an oppor...,"NetSpend Corporation, a TSYS Company",IL,NaN,NaN,Phone,2015-10-30,Closed with monetary relief,Yes,No,1625561,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594757,2015-09-14,Debt collection,"Other (i.e. phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,"I moved out XXXX, located at XXXX on XX/XX/XXX...",Company believes complaint represents an oppor...,"Hunter Warfield, Inc.",GA,Servicemember,Consent provided,Web,2015-09-14,Closed with explanation,Yes,NaN,1563936,test
595926,2015-11-12,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,The Shellpoint account listed on my credit rep...,Company believes complaint represents an oppor...,"Shellpoint Partners, LLC",SC,NaN,Consent provided,Web,2015-11-12,Closed with explanation,Yes,NaN,1652864,test
596273,2015-04-21,Mortgage,VA mortgage,"Loan servicing, payments, escrow account",NaN,NaN,Company believes complaint represents an oppor...,Lender Live,VA,Servicemember,Consent not provided,Web,2015-04-21,Closed with non-monetary relief,Yes,NaN,1338824,test
596489,2016-04-19,Debt collection,Auto,Communication tactics,Used obscene/profane/abusive language,NaN,Company believes complaint represents an oppor...,"ZENCO COLLECTION, LLC",NY,NaN,NaN,Phone,2016-04-21,Closed with explanation,Yes,NaN,1887432,test
596835,2015-03-19,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,NaN,Company believes complaint represents an oppor...,"First Community Mortgage, Inc.",GA,Older American,Consent not provided,Web,2015-03-27,Closed with explanation,Yes,NaN,1290688,test

In [22]:
com_all['Company public response']=com_all['Company public response'].str.replace('Company chooses not to provide a public response',"No public response")

In [23]:
com_all['Company public response']=com_all['Company public response'].str.replace('Company has responded to the consumer and the CFPB and chooses not to provide a public response',"Res_cons_noresponse")
com_all['Company public response']=com_all['Company public response'].str.replace('Company believes it acted appropriately as authorized by contract or law',"Act_approp_law")
com_all['Company public response']=com_all['Company public response'].str.replace('Company believes complaint caused principally by actions of third party outside the control or direction of the company',"Actions_third_party")
com_all['Company public response']=com_all['Company public response'].str.replace('Company believes the complaint is the result of a misunderstanding',"misunderstanding")
com_all['Company public response']=com_all['Company public response'].str.replace('Company disputes the facts presented in the complaint',"Dispute_facts")
com_all['Company public response']=com_all['Company public response'].str.replace('Company believes complaint is the result of an isolated error',"Isolated_error")
com_all['Company public response']=com_all['Company public response'].str.replace("Company can't verify or dispute the facts in the complaint","Cannot_dispute")
com_all['Company public response']=com_all['Company public response'].str.replace("Company believes complaint represents an opportunity for improvement to better serve consumers","Opportunity_improvement")
com_all['Company public response']=com_all['Company public response'].str.replace("Company believes complaint relates to a discontinued policy or procedure","Discontinued_policy")

In [24]:
com_all.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,data
0,2014-05-15,Credit card,NaN,Billing statement,NaN,NaN,NaN,Wells Fargo & Company,MI,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103,train
1,2014-09-18,Bank account or service,(CD) Certificate of deposit,"Making/receiving payments, sending money",NaN,NaN,NaN,Santander Bank US,PA,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666,train
2,2014-03-13,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,NaN,Equifax,CA,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363,train
3,2015-07-17,Credit card,NaN,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",No public response,U.S. Bancorp,GA,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177,train
4,2014-11-20,Credit card,NaN,Transaction issue,NaN,NaN,NaN,Bank of America,MA,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572,train

In [25]:
com_all['Company public response'].value_counts()

No public response         52466
Res_cons_noresponse        32203
Act_approp_law             20052
Actions_third_party         1809
misunderstanding            1759
Dispute_facts               1736
Isolated_error              1317
Cannot_dispute              1178
Opportunity_improvement      617
Discontinued_policy           31
Name: Company public response, dtype: int64

In [26]:
com_all['Company public response'].isnull().sum()

484859

In [27]:
for col in com_all.columns:
    if col == 'Company public response':
        com_all.loc[com_all[col].isnull(),col]= 'blank'
        print(com_all[col].isnull().sum())

0

In [28]:
com_all['Company public response'].isnull().sum()

0

In [29]:
com_all.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,data
0,2014-05-15,Credit card,NaN,Billing statement,NaN,NaN,blank,Wells Fargo & Company,MI,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103,train
1,2014-09-18,Bank account or service,(CD) Certificate of deposit,"Making/receiving payments, sending money",NaN,NaN,blank,Santander Bank US,PA,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666,train
2,2014-03-13,Credit reporting,NaN,Incorrect information on credit report,Account status,NaN,blank,Equifax,CA,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363,train
3,2015-07-17,Credit card,NaN,Billing statement,NaN,"My credit card statement from US Bank, XXXX. X...",No public response,U.S. Bancorp,GA,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177,train
4,2014-11-20,Credit card,NaN,Transaction issue,NaN,NaN,blank,Bank of America,MA,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572,train

In [ ]:
!pip install category_encoders

In [30]:

import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['Sub-product'])
com_all = encoder.fit_transform(com_all)

com_all.head()

,Date received,Product,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue,...,State,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID,data
0,2014-05-15,Credit card,0,0,0,0,0,0,1,Billing statement,...,MI,Older American,NaN,Web,2014-05-16,Closed with explanation,Yes,No,856103,train
1,2014-09-18,Bank account or service,0,0,0,0,0,1,0,"Making/receiving payments, sending money",...,PA,NaN,NaN,Referral,2014-09-24,Closed,Yes,No,1034666,train
2,2014-03-13,Credit reporting,0,0,0,0,0,0,1,Incorrect information on credit report,...,CA,NaN,NaN,Referral,2014-04-03,Closed with non-monetary relief,Yes,No,756363,train
3,2015-07-17,Credit card,0,0,0,0,0,0,1,Billing statement,...,GA,Older American,Consent provided,Web,2015-07-17,Closed with monetary relief,Yes,No,1474177,train
4,2014-11-20,Credit card,0,0,0,0,0,0,1,Transaction issue,...,MA,NaN,NaN,Web,2014-11-28,Closed with explanation,Yes,No,1132572,train

In [31]:
com_all.isnull().sum()

Date received                        0
Product                              0
Sub-product_0                        0
Sub-product_1                        0
Sub-product_2                        0
Sub-product_3                        0
Sub-product_4                        0
Sub-product_5                        0
Sub-product_6                        0
Issue                                0
Sub-issue                       365685
Consumer complaint narrative    504376
Company public response              0
Company                              0
State                             4764
Tags                            513950
Consumer consent provided?      428676
Submitted via                        1
Date sent to company                 0
Company response to consumer         0
Timely response?                     0
Consumer disputed?              119606
Complaint ID                         0
data                                 0
dtype: int64

In [32]:
com_all = pd.get_dummies(com_all, columns=['Product'], prefix = ['Product'])

In [33]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue,Sub-issue,...,Product_Credit card,Product_Credit reporting,Product_Debt collection,Product_Money transfers,Product_Mortgage,Product_Other financial service,Product_Payday loan,Product_Prepaid card,Product_Student loan,Product_Virtual currency
0,2014-05-15,0,0,0,0,0,0,1,Billing statement,NaN,...,1,0,0,0,0,0,0,0,0,0
1,2014-09-18,0,0,0,0,0,1,0,"Making/receiving payments, sending money",NaN,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-13,0,0,0,0,0,0,1,Incorrect information on credit report,Account status,...,0,1,0,0,0,0,0,0,0,0
3,2015-07-17,0,0,0,0,0,0,1,Billing statement,NaN,...,1,0,0,0,0,0,0,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,Transaction issue,NaN,...,1,0,0,0,0,0,0,0,0,0

In [34]:
com_all.dtypes

Date received                      object
Sub-product_0                       int64
Sub-product_1                       int64
Sub-product_2                       int64
Sub-product_3                       int64
Sub-product_4                       int64
Sub-product_5                       int64
Sub-product_6                       int64
Issue                              object
Sub-issue                          object
Consumer complaint narrative       object
Company public response            object
Company                            object
State                              object
Tags                               object
Consumer consent provided?         object
Submitted via                      object
Date sent to company               object
Company response to consumer       object
Timely response?                   object
Consumer disputed?                 object
Complaint ID                        int64
data                               object
Product_Bank account or service     uint8
Product_Consumer Loan               uint8
Product_Credit card                 uint8
Product_Credit reporting            uint8
Product_Debt collection             uint8
Product_Money transfers             uint8
Product_Mortgage                    uint8
Product_Other financial service     uint8
Product_Payday loan                 uint8
Product_Prepaid card                uint8
Product_Student loan                uint8
Product_Virtual currency            uint8
dtype: object

In [35]:
com_all['Sub-issue'] = com_all['Sub-issue'].fillna('Unknown')

In [36]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue,Sub-issue,...,Product_Credit card,Product_Credit reporting,Product_Debt collection,Product_Money transfers,Product_Mortgage,Product_Other financial service,Product_Payday loan,Product_Prepaid card,Product_Student loan,Product_Virtual currency
0,2014-05-15,0,0,0,0,0,0,1,Billing statement,Unknown,...,1,0,0,0,0,0,0,0,0,0
1,2014-09-18,0,0,0,0,0,1,0,"Making/receiving payments, sending money",Unknown,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-13,0,0,0,0,0,0,1,Incorrect information on credit report,Account status,...,0,1,0,0,0,0,0,0,0,0
3,2015-07-17,0,0,0,0,0,0,1,Billing statement,Unknown,...,1,0,0,0,0,0,0,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,Transaction issue,Unknown,...,1,0,0,0,0,0,0,0,0,0

In [37]:
encoder = ce.BinaryEncoder(cols=['Issue','Sub-issue'])
com_all = encoder.fit_transform(com_all)

In [38]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,Product_Credit card,Product_Credit reporting,Product_Debt collection,Product_Money transfers,Product_Mortgage,Product_Other financial service,Product_Payday loan,Product_Prepaid card,Product_Student loan,Product_Virtual currency
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [39]:
com_all.dtypes

Date received                      object
Sub-product_0                       int64
Sub-product_1                       int64
Sub-product_2                       int64
Sub-product_3                       int64
Sub-product_4                       int64
Sub-product_5                       int64
Sub-product_6                       int64
Issue_0                             int64
Issue_1                             int64
Issue_2                             int64
Issue_3                             int64
Issue_4                             int64
Issue_5                             int64
Issue_6                             int64
Issue_7                             int64
Sub-issue_0                         int64
Sub-issue_1                         int64
Sub-issue_2                         int64
Sub-issue_3                         int64
Sub-issue_4                         int64
Sub-issue_5                         int64
Sub-issue_6                         int64
Sub-issue_7                         int64
Consumer complaint narrative       object
Company public response            object
Company                            object
State                              object
Tags                               object
Consumer consent provided?         object
Submitted via                      object
Date sent to company               object
Company response to consumer       object
Timely response?                   object
Consumer disputed?                 object
Complaint ID                        int64
data                               object
Product_Bank account or service     uint8
Product_Consumer Loan               uint8
Product_Credit card                 uint8
Product_Credit reporting            uint8
Product_Debt collection             uint8
Product_Money transfers             uint8
Product_Mortgage                    uint8
Product_Other financial service     uint8
Product_Payday loan                 uint8
Product_Prepaid card                uint8
Product_Student loan                uint8
Product_Virtual currency            uint8
dtype: object

In [40]:
com_all.isnull().sum()

Date received                           0
Sub-product_0                           0
Sub-product_1                           0
Sub-product_2                           0
Sub-product_3                           0
Sub-product_4                           0
Sub-product_5                           0
Sub-product_6                           0
Issue_0                                 0
Issue_1                                 0
Issue_2                                 0
Issue_3                                 0
Issue_4                                 0
Issue_5                                 0
Issue_6                                 0
Issue_7                                 0
Sub-issue_0                             0
Sub-issue_1                             0
Sub-issue_2                             0
Sub-issue_3                             0
Sub-issue_4                             0
Sub-issue_5                             0
Sub-issue_6                             0
Sub-issue_7                             0
Consumer complaint narrative       504376
Company public response                 0
Company                                 0
State                                4764
Tags                               513950
Consumer consent provided?         428676
Submitted via                           1
Date sent to company                    0
Company response to consumer            0
Timely response?                        0
Consumer disputed?                 119606
Complaint ID                            0
data                                    0
Product_Bank account or service         0
Product_Consumer Loan                   0
Product_Credit card                     0
Product_Credit reporting                0
Product_Debt collection                 0
Product_Money transfers                 0
Product_Mortgage                        0
Product_Other financial service         0
Product_Payday loan                     0
Product_Prepaid card                    0
Product_Student loan                    0
Product_Virtual currency                0
dtype: int64

In [41]:
com_all['Tags'].value_counts()

Older American                   48803
Servicemember                    28406
Older American, Servicemember     6868
Name: Tags, dtype: int64

In [ ]:
# com_all['Tags'] = com_all['Tags'].fillna('Unknown')

In [ ]:
# com_all = pd.get_dummies(com_all, columns=['Tags'], prefix = ['Tags'])

In [42]:
com_all.drop(['Tags'],axis=1,inplace=True)

In [43]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,Product_Credit card,Product_Credit reporting,Product_Debt collection,Product_Money transfers,Product_Mortgage,Product_Other financial service,Product_Payday loan,Product_Prepaid card,Product_Student loan,Product_Virtual currency
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [44]:
com_all['Consumer consent provided?'].value_counts()

Consent provided        93652
Consent not provided    70338
Other                    5356
Consent withdrawn           5
Name: Consumer consent provided?, dtype: int64

In [45]:
com_all['Consumer consent provided?'] = com_all['Consumer consent provided?'].fillna('Unknown')

In [46]:
com_all['Consumer consent provided?'].isnull().sum()

0

In [47]:
com_all = pd.get_dummies(com_all, columns=['Consumer consent provided?'], prefix = ['Consumer consent provided?'])

In [48]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,Product_Other financial service,Product_Payday loan,Product_Prepaid card,Product_Student loan,Product_Virtual currency,Consumer consent provided?_Consent not provided,Consumer consent provided?_Consent provided,Consumer consent provided?_Consent withdrawn,Consumer consent provided?_Other,Consumer consent provided?_Unknown
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [49]:
com_all['State'].nunique()

62

In [50]:
com_all['State'].value_counts()

CA    87499
FL    57765
TX    44853
NY    41219
GA    26668
      ...
MH       28
MP       20
AS       17
PW       11
AA       11
Name: State, Length: 62, dtype: int64

In [51]:
com_all = pd.get_dummies(com_all, columns=['State'], prefix = ['State'])

In [ ]:
#com_all.drop(['State'],axis=1,inplace=True)

In [52]:
com_all.columns

Index(['Date received', 'Sub-product_0', 'Sub-product_1', 'Sub-product_2',
       'Sub-product_3', 'Sub-product_4', 'Sub-product_5', 'Sub-product_6',
       'Issue_0', 'Issue_1',
       ...
       'State_TN', 'State_TX', 'State_UT', 'State_VA', 'State_VI', 'State_VT',
       'State_WA', 'State_WI', 'State_WV', 'State_WY'],
      dtype='object', length=113)

In [53]:
com_all.drop(['State_AS','State_PW','State_AA'],axis=1,inplace=True)

In [54]:
com_all['Company response to consumer'].value_counts()

Closed with explanation            442756
Closed with non-monetary relief     76861
Closed with monetary relief         41188
Closed without relief               17769
Closed                              14227
Closed with relief                   5224
Untimely response                       2
Name: Company response to consumer, dtype: int64

In [55]:
com_all['Company response to consumer'].isnull().sum()

0

In [56]:
crc_dummies=pd.get_dummies(com_all["Company response to consumer"],prefix="CRC")
crc_dummies

,CRC_Closed,CRC_Closed with explanation,CRC_Closed with monetary relief,CRC_Closed with non-monetary relief,CRC_Closed with relief,CRC_Closed without relief,CRC_Untimely response
0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0
2,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...
598022,0,0,1,0,0,0,0
598023,0,1,0,0,0,0,0
598024,0,1,0,0,0,0,0
598025,0,1,0,0,0,0,0
598026,0,1,0,0,0,0,0

In [57]:
com_all=pd.concat([com_all,crc_dummies],1)
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,State_WI,State_WV,State_WY,CRC_Closed,CRC_Closed with explanation,CRC_Closed with monetary relief,CRC_Closed with non-monetary relief,CRC_Closed with relief,CRC_Closed without relief,CRC_Untimely response
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [58]:
com_all=com_all.drop(["Company response to consumer","CRC_Untimely response"],1)

In [ ]:
com_all

In [59]:
com_all.dtypes

Date received                          object
Sub-product_0                           int64
Sub-product_1                           int64
Sub-product_2                           int64
Sub-product_3                           int64
                                        ...
CRC_Closed with explanation             uint8
CRC_Closed with monetary relief         uint8
CRC_Closed with non-monetary relief     uint8
CRC_Closed with relief                  uint8
CRC_Closed without relief               uint8
Length: 115, dtype: object

In [60]:
com_all['Company public response'].value_counts()

blank                      484859
No public response          52466
Res_cons_noresponse         32203
Act_approp_law              20052
Actions_third_party          1809
misunderstanding             1759
Dispute_facts                1736
Isolated_error               1317
Cannot_dispute               1178
Opportunity_improvement       617
Discontinued_policy            31
Name: Company public response, dtype: int64

In [61]:
cpr_dummies=pd.get_dummies(com_all["Company public response"],prefix="CPR")
cpr_dummies

,CPR_Act_approp_law,CPR_Actions_third_party,CPR_Cannot_dispute,CPR_Discontinued_policy,CPR_Dispute_facts,CPR_Isolated_error,CPR_No public response,CPR_Opportunity_improvement,CPR_Res_cons_noresponse,CPR_blank,CPR_misunderstanding
0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
598022,0,0,0,0,0,0,0,0,0,1,0
598023,0,0,0,0,0,0,0,0,1,0,0
598024,0,0,0,0,0,0,1,0,0,0,0
598025,0,0,0,0,0,0,0,0,0,1,0
598026,0,0,0,0,0,0,0,0,0,1,0

In [62]:
com_all=pd.concat([com_all,cpr_dummies],1)
com_all=com_all.drop(["Company public response","CPR_Discontinued_policy"],1)

In [63]:
com_all.columns

Index(['Date received', 'Sub-product_0', 'Sub-product_1', 'Sub-product_2',
       'Sub-product_3', 'Sub-product_4', 'Sub-product_5', 'Sub-product_6',
       'Issue_0', 'Issue_1',
       ...
       'CPR_Act_approp_law', 'CPR_Actions_third_party', 'CPR_Cannot_dispute',
       'CPR_Dispute_facts', 'CPR_Isolated_error', 'CPR_No public response',
       'CPR_Opportunity_improvement', 'CPR_Res_cons_noresponse', 'CPR_blank',
       'CPR_misunderstanding'],
      dtype='object', length=124)

In [64]:
com_all['Submitted via'].value_counts()

Web            392364
Referral       114231
Phone           42958
Postal mail     39348
Fax              8788
Email             337
Name: Submitted via, dtype: int64

In [65]:
com_all['Submitted via'] = com_all['Submitted via'].fillna('Web')

In [66]:
com_all['Submitted via'].isnull().sum()

0

In [67]:
sv_dummies=pd.get_dummies(com_all["Submitted via"],prefix="Submitted via")
sv_dummies

,Submitted via_Email,Submitted via_Fax,Submitted via_Phone,Submitted via_Postal mail,Submitted via_Referral,Submitted via_Web
0,0,0,0,0,0,1
1,0,0,0,0,1,0
2,0,0,0,0,1,0
3,0,0,0,0,0,1
4,0,0,0,0,0,1
...,...,...,...,...,...,...
598022,0,0,0,0,0,1
598023,0,0,0,0,0,1
598024,0,0,1,0,0,0
598025,0,0,1,0,0,0
598026,0,0,0,0,0,1

In [68]:
com_all=pd.concat([com_all,sv_dummies],1)
com_all=com_all.drop(["Submitted via","Submitted via_Email"],1)

In [69]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,CPR_No public response,CPR_Opportunity_improvement,CPR_Res_cons_noresponse,CPR_blank,CPR_misunderstanding,Submitted via_Fax,Submitted via_Phone,Submitted via_Postal mail,Submitted via_Referral,Submitted via_Web
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [70]:
com_all.columns

Index(['Date received', 'Sub-product_0', 'Sub-product_1', 'Sub-product_2',
       'Sub-product_3', 'Sub-product_4', 'Sub-product_5', 'Sub-product_6',
       'Issue_0', 'Issue_1',
       ...
       'CPR_No public response', 'CPR_Opportunity_improvement',
       'CPR_Res_cons_noresponse', 'CPR_blank', 'CPR_misunderstanding',
       'Submitted via_Fax', 'Submitted via_Phone', 'Submitted via_Postal mail',
       'Submitted via_Referral', 'Submitted via_Web'],
      dtype='object', length=128)

In [71]:
com_all['Timely response?'].value_counts()

Yes    587954
No      10073
Name: Timely response?, dtype: int64

In [72]:
com_all['Timely response?'].isnull().sum()

0

In [73]:
# Import label encoder 
from sklearn import preprocessing

In [74]:
# label_encoder object knows how to understand word labels. 
le = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
com_all['Timely response?']= le.fit_transform(com_all['Timely response?'])

In [75]:
com_all['Timely response?'].value_counts()

1    587954
0     10073
Name: Timely response?, dtype: int64

In [76]:
com_all.columns

Index(['Date received', 'Sub-product_0', 'Sub-product_1', 'Sub-product_2',
       'Sub-product_3', 'Sub-product_4', 'Sub-product_5', 'Sub-product_6',
       'Issue_0', 'Issue_1',
       ...
       'CPR_No public response', 'CPR_Opportunity_improvement',
       'CPR_Res_cons_noresponse', 'CPR_blank', 'CPR_misunderstanding',
       'Submitted via_Fax', 'Submitted via_Phone', 'Submitted via_Postal mail',
       'Submitted via_Referral', 'Submitted via_Web'],
      dtype='object', length=128)

In [77]:
ls=list(zip(com_all.columns,com_all.dtypes,com_all.isnull().sum()))

In [78]:
ls

[('Date received', dtype('O'), 0),
 ('Sub-product_0', dtype('int64'), 0),
 ('Sub-product_1', dtype('int64'), 0),
 ('Sub-product_2', dtype('int64'), 0),
 ('Sub-product_3', dtype('int64'), 0),
 ('Sub-product_4', dtype('int64'), 0),
 ('Sub-product_5', dtype('int64'), 0),
 ('Sub-product_6', dtype('int64'), 0),
 ('Issue_0', dtype('int64'), 0),
 ('Issue_1', dtype('int64'), 0),
 ('Issue_2', dtype('int64'), 0),
 ('Issue_3', dtype('int64'), 0),
 ('Issue_4', dtype('int64'), 0),
 ('Issue_5', dtype('int64'), 0),
 ('Issue_6', dtype('int64'), 0),
 ('Issue_7', dtype('int64'), 0),
 ('Sub-issue_0', dtype('int64'), 0),
 ('Sub-issue_1', dtype('int64'), 0),
 ('Sub-issue_2', dtype('int64'), 0),
 ('Sub-issue_3', dtype('int64'), 0),
 ('Sub-issue_4', dtype('int64'), 0),
 ('Sub-issue_5', dtype('int64'), 0),
 ('Sub-issue_6', dtype('int64'), 0),
 ('Sub-issue_7', dtype('int64'), 0),
 ('Consumer complaint narrative', dtype('O'), 504376),
 ('Company', dtype('O'), 0),
 ('Date sent to company', dtype('O'), 0),
 ('Timely response?', dtype('int32'), 0),
 ('Consumer disputed?', dtype('O'), 119606),
 ('Complaint ID', dtype('int64'), 0),
 ('data', dtype('O'), 0),
 ('Product_Bank account or service', dtype('uint8'), 0),
 ('Product_Consumer Loan', dtype('uint8'), 0),
 ('Product_Credit card', dtype('uint8'), 0),
 ('Product_Credit reporting', dtype('uint8'), 0),
 ('Product_Debt collection', dtype('uint8'), 0),
 ('Product_Money transfers', dtype('uint8'), 0),
 ('Product_Mortgage', dtype('uint8'), 0),
 ('Product_Other financial service', dtype('uint8'), 0),
 ('Product_Payday loan', dtype('uint8'), 0),
 ('Product_Prepaid card', dtype('uint8'), 0),
 ('Product_Student loan', dtype('uint8'), 0),
 ('Product_Virtual currency', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent not provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent withdrawn', dtype('uint8'), 0),
 ('Consumer consent provided?_Other', dtype('uint8'), 0),
 ('Consumer consent provided?_Unknown', dtype('uint8'), 0),
 ('State_AE', dtype('uint8'), 0),
 ('State_AK', dtype('uint8'), 0),
 ('State_AL', dtype('uint8'), 0),
 ('State_AP', dtype('uint8'), 0),
 ('State_AR', dtype('uint8'), 0),
 ('State_AZ', dtype('uint8'), 0),
 ('State_CA', dtype('uint8'), 0),
 ('State_CO', dtype('uint8'), 0),
 ('State_CT', dtype('uint8'), 0),
 ('State_DC', dtype('uint8'), 0),
 ('State_DE', dtype('uint8'), 0),
 ('State_FL', dtype('uint8'), 0),
 ('State_FM', dtype('uint8'), 0),
 ('State_GA', dtype('uint8'), 0),
 ('State_GU', dtype('uint8'), 0),
 ('State_HI', dtype('uint8'), 0),
 ('State_IA', dtype('uint8'), 0),
 ('State_ID', dtype('uint8'), 0),
 ('State_IL', dtype('uint8'), 0),
 ('State_IN', dtype('uint8'), 0),
 ('State_KS', dtype('uint8'), 0),
 ('State_KY', dtype('uint8'), 0),
 ('State_LA', dtype('uint8'), 0),
 ('State_MA', dtype('uint8'), 0),
 ('State_MD', dtype('uint8'), 0),
 ('State_ME', dtype('uint8'), 0),
 ('State_MH', dtype('uint8'), 0),
 ('State_MI', dtype('uint8'), 0),
 ('State_MN', dtype('uint8'), 0),
 ('State_MO', dtype('uint8'), 0),
 ('State_MP', dtype('uint8'), 0),
 ('State_MS', dtype('uint8'), 0),
 ('State_MT', dtype('uint8'), 0),
 ('State_NC', dtype('uint8'), 0),
 ('State_ND', dtype('uint8'), 0),
 ('State_NE', dtype('uint8'), 0),
 ('State_NH', dtype('uint8'), 0),
 ('State_NJ', dtype('uint8'), 0),
 ('State_NM', dtype('uint8'), 0),
 ('State_NV', dtype('uint8'), 0),
 ('State_NY', dtype('uint8'), 0),
 ('State_OH', dtype('uint8'), 0),
 ('State_OK', dtype('uint8'), 0),
 ('State_OR', dtype('uint8'), 0),
 ('State_PA', dtype('uint8'), 0),
 ('State_PR', dtype('uint8'), 0),
 ('State_RI', dtype('uint8'), 0),
 ('State_SC', dtype('uint8'), 0),
 ('State_SD', dtype('uint8'), 0),
 ('State_TN', dtype('uint8'), 0),
 ('State_TX', dtype('uint8'), 0),
 ('State_UT', dtype('uint8'), 0),
 ('State_VA', dtype('uint8'), 0),
 ('State_VI', dtype('uint8'), 0),
 ('State_VT', dtype('uint8'), 0),
 ('State_WA', dtype('uint8'), 0),
 ('State_WI', dtype('uint8'), 0),
 ('State_WV', dtype('uint8'), 0),
 ('State_WY', dtype('uint8'), 0),
 ('CRC_Closed', dtype('uint8'), 0),
 ('CRC_Closed with explanation', dtype('uint8'), 0),
 ('CRC_Closed with monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with non-monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with relief', dtype('uint8'), 0),
 ('CRC_Closed without relief', dtype('uint8'), 0),
 ('CPR_Act_approp_law', dtype('uint8'), 0),
 ('CPR_Actions_third_party', dtype('uint8'), 0),
 ('CPR_Cannot_dispute', dtype('uint8'), 0),
 ('CPR_Dispute_facts', dtype('uint8'), 0),
 ('CPR_Isolated_error', dtype('uint8'), 0),
 ('CPR_No public response', dtype('uint8'), 0),
 ('CPR_Opportunity_improvement', dtype('uint8'), 0),
 ('CPR_Res_cons_noresponse', dtype('uint8'), 0),
 ('CPR_blank', dtype('uint8'), 0),
 ('CPR_misunderstanding', dtype('uint8'), 0),
 ('Submitted via_Fax', dtype('uint8'), 0),
 ('Submitted via_Phone', dtype('uint8'), 0),
 ('Submitted via_Postal mail', dtype('uint8'), 0),
 ('Submitted via_Referral', dtype('uint8'), 0),
 ('Submitted via_Web', dtype('uint8'), 0)]

In [79]:
Company_counts = com_all['Company'].value_counts(normalize=True)

In [80]:
Company_counts

Bank of America                                0.096797
Wells Fargo & Company                          0.074139
JPMorgan Chase & Co.                           0.060265
Equifax                                        0.060220
Experian                                       0.056222
                                                 ...
Cash-Installment LLC                           0.000002
Accredited Land Transfer Col, Inc.             0.000002
Garrison Law Office L.L.C.                     0.000002
Kevin A. Stevens                               0.000002
Professional Recovery Services Inc.(Closed)    0.000002
Name: Company, Length: 3437, dtype: float64

In [81]:
com_copy = com_all.copy()

In [82]:
com_all['Company']=com_all['Company'].apply(lambda x: Company_counts[x])

In [83]:
com_all['Company'].head()

0    0.074139
1    0.003396
2    0.060220
3    0.017128
4    0.096797
Name: Company, dtype: float64

In [84]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,CPR_No public response,CPR_Opportunity_improvement,CPR_Res_cons_noresponse,CPR_blank,CPR_misunderstanding,Submitted via_Fax,Submitted via_Phone,Submitted via_Postal mail,Submitted via_Referral,Submitted via_Web
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
col1 = com_all.dtypes

for cols in com_all.columns.tolist()[1:]:
    if com_all[cols].dtype != 'object':
        data = com_all.ix[com_all[cols] < 0]
# com_all[(com_all < 0).all(1)]

In [85]:
ls=list(zip(com_all.columns,com_all.dtypes,com_all.isnull().sum()))
ls

[('Date received', dtype('O'), 0),
 ('Sub-product_0', dtype('int64'), 0),
 ('Sub-product_1', dtype('int64'), 0),
 ('Sub-product_2', dtype('int64'), 0),
 ('Sub-product_3', dtype('int64'), 0),
 ('Sub-product_4', dtype('int64'), 0),
 ('Sub-product_5', dtype('int64'), 0),
 ('Sub-product_6', dtype('int64'), 0),
 ('Issue_0', dtype('int64'), 0),
 ('Issue_1', dtype('int64'), 0),
 ('Issue_2', dtype('int64'), 0),
 ('Issue_3', dtype('int64'), 0),
 ('Issue_4', dtype('int64'), 0),
 ('Issue_5', dtype('int64'), 0),
 ('Issue_6', dtype('int64'), 0),
 ('Issue_7', dtype('int64'), 0),
 ('Sub-issue_0', dtype('int64'), 0),
 ('Sub-issue_1', dtype('int64'), 0),
 ('Sub-issue_2', dtype('int64'), 0),
 ('Sub-issue_3', dtype('int64'), 0),
 ('Sub-issue_4', dtype('int64'), 0),
 ('Sub-issue_5', dtype('int64'), 0),
 ('Sub-issue_6', dtype('int64'), 0),
 ('Sub-issue_7', dtype('int64'), 0),
 ('Consumer complaint narrative', dtype('O'), 504376),
 ('Company', dtype('float64'), 0),
 ('Date sent to company', dtype('O'), 0),
 ('Timely response?', dtype('int32'), 0),
 ('Consumer disputed?', dtype('O'), 119606),
 ('Complaint ID', dtype('int64'), 0),
 ('data', dtype('O'), 0),
 ('Product_Bank account or service', dtype('uint8'), 0),
 ('Product_Consumer Loan', dtype('uint8'), 0),
 ('Product_Credit card', dtype('uint8'), 0),
 ('Product_Credit reporting', dtype('uint8'), 0),
 ('Product_Debt collection', dtype('uint8'), 0),
 ('Product_Money transfers', dtype('uint8'), 0),
 ('Product_Mortgage', dtype('uint8'), 0),
 ('Product_Other financial service', dtype('uint8'), 0),
 ('Product_Payday loan', dtype('uint8'), 0),
 ('Product_Prepaid card', dtype('uint8'), 0),
 ('Product_Student loan', dtype('uint8'), 0),
 ('Product_Virtual currency', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent not provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent withdrawn', dtype('uint8'), 0),
 ('Consumer consent provided?_Other', dtype('uint8'), 0),
 ('Consumer consent provided?_Unknown', dtype('uint8'), 0),
 ('State_AE', dtype('uint8'), 0),
 ('State_AK', dtype('uint8'), 0),
 ('State_AL', dtype('uint8'), 0),
 ('State_AP', dtype('uint8'), 0),
 ('State_AR', dtype('uint8'), 0),
 ('State_AZ', dtype('uint8'), 0),
 ('State_CA', dtype('uint8'), 0),
 ('State_CO', dtype('uint8'), 0),
 ('State_CT', dtype('uint8'), 0),
 ('State_DC', dtype('uint8'), 0),
 ('State_DE', dtype('uint8'), 0),
 ('State_FL', dtype('uint8'), 0),
 ('State_FM', dtype('uint8'), 0),
 ('State_GA', dtype('uint8'), 0),
 ('State_GU', dtype('uint8'), 0),
 ('State_HI', dtype('uint8'), 0),
 ('State_IA', dtype('uint8'), 0),
 ('State_ID', dtype('uint8'), 0),
 ('State_IL', dtype('uint8'), 0),
 ('State_IN', dtype('uint8'), 0),
 ('State_KS', dtype('uint8'), 0),
 ('State_KY', dtype('uint8'), 0),
 ('State_LA', dtype('uint8'), 0),
 ('State_MA', dtype('uint8'), 0),
 ('State_MD', dtype('uint8'), 0),
 ('State_ME', dtype('uint8'), 0),
 ('State_MH', dtype('uint8'), 0),
 ('State_MI', dtype('uint8'), 0),
 ('State_MN', dtype('uint8'), 0),
 ('State_MO', dtype('uint8'), 0),
 ('State_MP', dtype('uint8'), 0),
 ('State_MS', dtype('uint8'), 0),
 ('State_MT', dtype('uint8'), 0),
 ('State_NC', dtype('uint8'), 0),
 ('State_ND', dtype('uint8'), 0),
 ('State_NE', dtype('uint8'), 0),
 ('State_NH', dtype('uint8'), 0),
 ('State_NJ', dtype('uint8'), 0),
 ('State_NM', dtype('uint8'), 0),
 ('State_NV', dtype('uint8'), 0),
 ('State_NY', dtype('uint8'), 0),
 ('State_OH', dtype('uint8'), 0),
 ('State_OK', dtype('uint8'), 0),
 ('State_OR', dtype('uint8'), 0),
 ('State_PA', dtype('uint8'), 0),
 ('State_PR', dtype('uint8'), 0),
 ('State_RI', dtype('uint8'), 0),
 ('State_SC', dtype('uint8'), 0),
 ('State_SD', dtype('uint8'), 0),
 ('State_TN', dtype('uint8'), 0),
 ('State_TX', dtype('uint8'), 0),
 ('State_UT', dtype('uint8'), 0),
 ('State_VA', dtype('uint8'), 0),
 ('State_VI', dtype('uint8'), 0),
 ('State_VT', dtype('uint8'), 0),
 ('State_WA', dtype('uint8'), 0),
 ('State_WI', dtype('uint8'), 0),
 ('State_WV', dtype('uint8'), 0),
 ('State_WY', dtype('uint8'), 0),
 ('CRC_Closed', dtype('uint8'), 0),
 ('CRC_Closed with explanation', dtype('uint8'), 0),
 ('CRC_Closed with monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with non-monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with relief', dtype('uint8'), 0),
 ('CRC_Closed without relief', dtype('uint8'), 0),
 ('CPR_Act_approp_law', dtype('uint8'), 0),
 ('CPR_Actions_third_party', dtype('uint8'), 0),
 ('CPR_Cannot_dispute', dtype('uint8'), 0),
 ('CPR_Dispute_facts', dtype('uint8'), 0),
 ('CPR_Isolated_error', dtype('uint8'), 0),
 ('CPR_No public response', dtype('uint8'), 0),
 ('CPR_Opportunity_improvement', dtype('uint8'), 0),
 ('CPR_Res_cons_noresponse', dtype('uint8'), 0),
 ('CPR_blank', dtype('uint8'), 0),
 ('CPR_misunderstanding', dtype('uint8'), 0),
 ('Submitted via_Fax', dtype('uint8'), 0),
 ('Submitted via_Phone', dtype('uint8'), 0),
 ('Submitted via_Postal mail', dtype('uint8'), 0),
 ('Submitted via_Referral', dtype('uint8'), 0),
 ('Submitted via_Web', dtype('uint8'), 0)]

In [86]:
ls1=list(zip(com_all['Date received'],com_all['Date sent to company']))
ls1

[('2014-05-15', '2014-05-16'),
 ('2014-09-18', '2014-09-24'),
 ('2014-03-13', '2014-04-03'),
 ('2015-07-17', '2015-07-17'),
 ('2014-11-20', '2014-11-28'),
 ('2014-06-26', '2014-07-01'),
 ('2012-09-28', '2012-10-01'),
 ('2015-05-06', '2015-05-06'),
 ('2013-02-25', '2013-02-26'),
 ('2016-03-30', '2016-04-01'),
 ('2014-03-21', '2014-03-28'),
 ('2015-11-27', '2015-11-27'),
 ('2012-04-13', '2012-04-13'),
 ('2014-03-18', '2014-03-21'),
 ('2016-04-30', '2016-05-03'),
 ('2015-09-22', '2015-09-25'),
 ('2013-12-13', '2013-12-13'),
 ('2015-11-25', '2015-12-02'),
 ('2014-06-17', '2014-07-07'),
 ('2014-03-11', '2014-03-13'),
 ('2014-04-28', '2014-04-28'),
 ('2013-06-27', '2013-06-28'),
 ('2012-11-17', '2012-11-19'),
 ('2015-05-02', '2015-05-04'),
 ('2015-09-23', '2015-09-23'),
 ('2015-04-07', '2015-04-13'),
 ('2013-08-15', '2013-08-19'),
 ('2015-02-05', '2015-02-19'),
 ('2013-05-29', '2013-05-30'),
 ('2016-06-22', '2016-06-22'),
 ('2014-11-20', '2014-11-20'),
 ('2013-10-16', '2013-11-08'),
 ('2015-04-21', '2015-04-23'),
 ('2016-01-05', '2016-01-08'),
 ('2014-10-30', '2014-11-01'),
 ('2014-05-27', '2014-06-02'),
 ('2016-02-23', '2016-02-23'),
 ('2016-05-02', '2016-05-02'),
 ('2014-08-31', '2014-08-31'),
 ('2015-09-22', '2015-09-24'),
 ('2014-05-20', '2014-05-20'),
 ('2016-03-12', '2016-03-12'),
 ('2016-01-29', '2016-01-29'),
 ('2015-03-13', '2015-03-20'),
 ('2016-03-21', '2016-03-21'),
 ('2014-09-18', '2014-09-24'),
 ('2014-05-22', '2014-05-22'),
 ('2012-05-19', '2012-06-03'),
 ('2015-03-16', '2015-03-16'),
 ('2013-02-15', '2013-02-15'),
 ('2013-10-07', '2013-10-08'),
 ('2013-03-26', '2013-03-27'),
 ('2013-11-29', '2013-12-12'),
 ('2012-06-06', '2012-06-15'),
 ('2014-12-15', '2014-12-15'),
 ('2015-02-07', '2015-02-07'),
 ('2016-05-15', '2016-05-15'),
 ('2013-07-17', '2013-07-19'),
 ('2015-08-21', '2015-08-21'),
 ('2014-04-23', '2014-04-28'),
 ('2013-02-08', '2013-02-12'),
 ('2016-04-14', '2016-06-09'),
 ('2015-06-11', '2015-06-11'),
 ('2015-04-15', '2015-04-15'),
 ('2016-01-11', '2016-01-12'),
 ('2016-04-16', '2016-04-16'),
 ('2014-08-07', '2014-08-07'),
 ('2015-08-05', '2015-08-06'),
 ('2013-11-15', '2013-11-15'),
 ('2014-09-08', '2014-09-11'),
 ('2015-03-04', '2015-03-04'),
 ('2016-02-22', '2016-02-22'),
 ('2015-07-01', '2015-07-01'),
 ('2015-09-15', '2015-09-15'),
 ('2014-05-13', '2014-05-13'),
 ('2014-04-04', '2014-04-08'),
 ('2015-08-13', '2015-08-13'),
 ('2016-03-08', '2016-03-08'),
 ('2014-11-29', '2014-11-29'),
 ('2015-07-02', '2015-07-08'),
 ('2015-12-09', '2016-01-05'),
 ('2015-09-10', '2015-09-11'),
 ('2012-01-24', '2012-01-24'),
 ('2016-01-19', '2016-01-21'),
 ('2015-11-17', '2015-11-19'),
 ('2015-02-25', '2015-02-25'),
 ('2015-03-28', '2015-03-28'),
 ('2015-01-07', '2015-01-07'),
 ('2016-03-09', '2016-03-09'),
 ('2016-05-19', '2016-05-25'),
 ('2013-01-29', '2013-01-29'),
 ('2015-03-11', '2015-03-18'),
 ('2014-11-03', '2014-11-06'),
 ('2014-07-30', '2014-08-01'),
 ('2015-07-21', '2015-10-01'),
 ('2016-05-03', '2016-05-03'),
 ('2016-03-07', '2016-03-08'),
 ('2014-12-01', '2014-12-01'),
 ('2016-07-11', '2016-07-11'),
 ('2012-09-05', '2012-09-06'),
 ('2012-10-09', '2012-10-09'),
 ('2015-05-30', '2015-05-30'),
 ('2015-10-20', '2015-11-09'),
 ('2015-03-16', '2015-03-16'),
 ('2015-03-02', '2015-03-09'),
 ('2014-06-03', '2014-06-05'),
 ('2014-08-28', '2014-08-28'),
 ('2012-06-14', '2012-06-15'),
 ('2013-06-03', '2013-06-04'),
 ('2012-11-12', '2012-11-15'),
 ('2014-10-14', '2014-10-22'),
 ('2015-10-27', '2015-10-27'),
 ('2013-10-17', '2013-10-23'),
 ('2013-02-07', '2013-02-11'),
 ('2015-10-27', '2015-10-27'),
 ('2014-05-08', '2014-05-08'),
 ('2016-03-16', '2016-03-16'),
 ('2013-04-24', '2013-04-25'),
 ('2014-10-06', '2014-10-06'),
 ('2015-03-10', '2015-03-10'),
 ('2014-09-25', '2014-09-25'),
 ('2014-08-13', '2014-08-15'),
 ('2014-12-05', '2014-12-05'),
 ('2014-08-26', '2014-08-26'),
 ('2014-05-29', '2014-06-23'),
 ('2016-04-08', '2016-04-22'),
 ('2012-08-23', '2012-08-28'),
 ('2015-03-19', '2015-03-19'),
 ('2015-04-15', '2015-04-15'),
 ('2015-11-11', '2015-11-11'),
 ('2013-11-13', '2013-11-13'),
 ('2014-03-19', '2014-03-20'),
 ('2014-02-06', '2014-02-19'),
 ('2013-07-26', '2013-07-29'),
 ('2016-07-27', '2016-07-29'),
 ('2014-12-03', '2014-12-08'),
 ('2012-03-23', '2012-03-27'),
 ('2016-08-31', '2016-08-31'),
 ('2014-08-06', '2014-08-08'),
 ('2015-09-07', '2015-09-07'),
 ('2016-03-23', '2016-03-23'),
 ('2013-10-09', '2013-10-09'),
 ('2014-02-04', '2014-02-11'),
 ('2014-08-21', '2014-08-21'),
 ('2015-12-28', '2015-12-28'),
 ('2014-09-23', '2014-09-23'),
 ('2015-02-04', '2015-02-04'),
 ('2013-05-02', '2013-05-03'),
 ('2015-08-28', '2015-09-04'),
 ('2014-12-03', '2014-12-09'),
 ('2012-05-21', '2012-05-24'),
 ('2015-09-21', '2015-10-02'),
 ('2013-01-15', '2013-01-17'),
 ('2013-11-13', '2013-11-13'),
 ('2014-04-29', '2014-04-29'),
 ('2015-01-07', '2015-01-12'),
 ('2015-10-22', '2015-11-13'),
 ('2015-09-01', '2015-09-01'),
 ('2014-12-08', '2014-12-10'),
 ('2012-07-30', '2012-08-01'),
 ('2016-06-29', '2016-06-30'),
 ('2015-11-02', '2015-11-02'),
 ('2015-06-23', '2015-06-23'),
 ('2014-06-30', '2014-07-03'),
 ('2012-08-03', '2012-08-14'),
 ('2014-10-16', '2014-10-16'),
 ('2014-02-07', '2014-02-26'),
 ('2014-12-06', '2014-12-06'),
 ('2016-06-23', '2016-06-27'),
 ('2013-04-02', '2013-04-02'),
 ('2015-07-30', '2015-07-30'),
 ('2014-01-29', '2014-02-07'),
 ('2015-08-08', '2015-08-08'),
 ('2015-02-20', '2015-02-20'),
 ('2015-04-09', '2015-04-09'),
 ('2014-12-29', '2015-01-05'),
 ('2012-05-18', '2012-05-22'),
 ('2015-04-22', '2015-04-24'),
 ('2015-02-09', '2015-02-09'),
 ('2013-02-11', '2013-02-12'),
 ('2015-11-05', '2015-11-05'),
 ('2015-12-03', '2015-12-03'),
 ('2015-05-20', '2015-05-20'),
 ('2014-10-23', '2014-10-23'),
 ('2014-09-08', '2014-09-08'),
 ('2012-03-11', '2012-03-14'),
 ('2014-07-02', '2014-07-09'),
 ('2016-03-02', '2016-03-02'),
 ('2012-07-16', '2012-07-20'),
 ('2013-11-18', '2013-11-18'),
 ('2015-03-17', '2015-03-23'),
 ('2014-02-13', '2014-02-18'),
 ('2015-08-14', '2015-08-14'),
 ('2014-06-16', '2014-06-18'),
 ('2013-02-19', '2013-02-19'),
 ('2013-07-08', '2013-07-10'),
 ('2015-11-25', '2015-12-03'),
 ('2012-02-16', '2012-02-16'),
 ('2014-03-13', '2014-03-21'),
 ('2014-03-05', '2014-03-05'),
 ('2013-10-22', '2013-10-22'),
 ('2013-04-16', '2013-04-17'),
 ('2015-06-08', '2015-06-08'),
 ('2013-10-19', '2013-10-21'),
 ('2013-05-23', '2013-05-28'),
 ('2014-05-17', '2014-05-17'),
 ('2016-02-18', '2016-02-18'),
 ('2013-01-28', '2013-01-29'),
 ('2015-03-23', '2015-03-27'),
 ('2012-12-10', '2012-12-11'),
 ('2016-02-02', '2016-02-04'),
 ('2012-05-11', '2012-05-15'),
 ('2015-12-09', '2015-12-15'),
 ('2016-03-29', '2016-03-29'),
 ('2015-04-13', '2015-04-13'),
 ('2014-09-22', '2014-09-22'),
 ('2016-02-19', '2016-02-19'),
 ('2015-08-06', '2015-08-13'),
 ('2014-04-01', '2014-04-03'),
 ('2015-04-21', '2015-04-21'),
 ('2015-11-09', '2015-11-09'),
 ('2014-07-21', '2014-07-24'),
 ('2015-11-21', '2015-11-21'),
 ('2014-08-19', '2014-08-19'),
 ('2015-05-27', '2015-05-27'),
 ('2016-03-07', '2016-03-10'),
 ('2016-06-08', '2016-06-10'),
 ('2015-08-28', '2015-08-31'),
 ('2016-03-26', '2016-04-05'),
 ('2014-06-26', '2014-06-30'),
 ('2012-02-07', '2012-02-07'),
 ('2014-06-22', '2014-06-24'),
 ('2016-02-15', '2016-02-15'),
 ('2013-08-26', '2013-08-27'),
 ('2014-05-14', '2014-05-14'),
 ('2015-04-22', '2015-04-24'),
 ('2016-02-11', '2016-02-11'),
 ('2014-12-10', '2014-12-12'),
 ('2015-01-27', '2015-01-27'),
 ('2013-10-22', '2013-10-22'),
 ('2014-06-10', '2014-06-11'),
 ('2016-03-25', '2016-04-28'),
 ('2012-11-29', '2012-11-29'),
 ('2015-09-09', '2015-09-10'),
 ('2014-09-03', '2014-09-03'),
 ('2014-04-14', '2014-04-13'),
 ('2015-05-21', '2015-06-17'),
 ('2014-05-14', '2014-05-14'),
 ('2015-12-04', '2015-12-04'),
 ('2014-02-03', '2014-02-03'),
 ('2014-10-31', '2014-11-06'),
 ('2013-03-27', '2013-03-29'),
 ('2012-08-22', '2012-08-22'),
 ('2014-09-09', '2014-09-24'),
 ('2016-02-15', '2016-03-11'),
 ('2013-04-11', '2013-04-12'),
 ('2016-04-01', '2016-04-15'),
 ('2012-11-28', '2013-05-22'),
 ('2015-01-17', '2015-01-21'),
 ('2014-07-01', '2014-07-07'),
 ('2014-02-07', '2014-02-08'),
 ('2013-12-30', '2014-01-17'),
 ('2015-08-10', '2015-08-10'),
 ('2015-10-13', '2015-10-15'),
 ('2013-02-14', '2013-02-14'),
 ('2016-02-24', '2016-02-24'),
 ('2013-06-19', '2013-06-20'),
 ('2015-01-20', '2015-01-20'),
 ('2015-10-28', '2015-10-28'),
 ('2012-05-25', '2012-10-25'),
 ('2015-08-30', '2015-08-31'),
 ('2015-02-03', '2015-02-03'),
 ('2014-02-03', '2014-02-03'),
 ('2016-03-11', '2016-03-17'),
 ('2015-12-04', '2015-12-04'),
 ('2015-06-22', '2015-07-06'),
 ('2014-05-27', '2014-05-27'),
 ('2015-02-09', '2015-02-09'),
 ('2013-01-07', '2013-01-07'),
 ('2012-10-27', '2012-10-29'),
 ('2013-11-18', '2013-11-19'),
 ('2014-03-14', '2014-03-14'),
 ('2016-05-05', '2016-05-05'),
 ('2013-04-03', '2013-04-04'),
 ('2016-02-17', '2016-02-19'),
 ('2012-01-08', '2012-03-23'),
 ('2015-09-15', '2015-09-15'),
 ('2015-02-03', '2015-02-03'),
 ('2015-08-18', '2015-08-18'),
 ('2013-05-24', '2013-05-28'),
 ('2014-09-22', '2014-09-22'),
 ('2014-09-05', '2014-09-11'),
 ('2015-04-17', '2015-04-17'),
 ('2015-07-08', '2015-07-08'),
 ('2015-04-26', '2015-04-26'),
 ('2015-02-25', '2015-02-25'),
 ('2016-07-01', '2016-07-01'),
 ('2016-01-21', '2016-01-21'),
 ('2015-11-18', '2015-11-18'),
 ('2015-09-09', '2015-09-09'),
 ('2012-01-03', '2012-01-04'),
 ('2014-05-31', '2014-05-31'),
 ('2016-05-04', '2016-05-04'),
 ('2011-12-23', '2011-12-27'),
 ('2014-11-07', '2014-11-13'),
 ('2013-09-03', '2013-09-05'),
 ('2015-08-25', '2015-09-02'),
 ('2016-05-12', '2016-05-12'),
 ('2014-12-29', '2014-12-29'),
 ('2015-11-12', '2015-11-19'),
 ('2015-11-10', '2015-11-12'),
 ('2014-01-31', '2014-01-31'),
 ('2013-03-17', '2013-03-19'),
 ('2014-01-29', '2014-01-29'),
 ('2016-01-11', '2016-01-11'),
 ('2015-12-16', '2015-12-16'),
 ('2015-10-20', '2015-10-20'),
 ('2014-12-06', '2014-12-06'),
 ('2012-06-04', '2012-06-08'),
 ('2014-10-13', '2014-10-13'),
 ('2015-11-17', '2015-11-17'),
 ('2014-07-08', '2014-07-08'),
 ('2014-02-12', '2014-02-12'),
 ('2012-06-12', '2012-10-04'),
 ('2012-05-17', '2012-05-22'),
 ('2014-06-10', '2014-06-10'),
 ('2014-04-22', '2014-04-22'),
 ('2015-02-19', '2015-02-23'),
 ('2014-10-07', '2014-10-14'),
 ('2016-04-21', '2016-04-21'),
 ('2015-06-17', '2015-06-22'),
 ('2015-06-15', '2015-06-18'),
 ('2013-06-01', '2013-06-04'),
 ('2014-04-18', '2014-04-23'),
 ('2012-11-08', '2012-11-08'),
 ('2014-04-24', '2014-04-24'),
 ('2016-05-16', '2016-05-19'),
 ('2013-06-05', '2013-06-05'),
 ('2013-11-21', '2013-12-02'),
 ('2015-12-14', '2015-12-17'),
 ('2012-03-07', '2012-03-23'),
 ('2013-01-16', '2013-01-18'),
 ('2014-11-11', '2014-11-11'),
 ('2014-09-22', '2014-09-26'),
 ('2015-07-26', '2015-07-26'),
 ('2014-08-21', '2014-08-28'),
 ('2015-05-07', '2015-05-26'),
 ('2012-03-28', '2012-03-29'),
 ('2015-01-27', '2015-01-27'),
 ('2016-01-24', '2016-01-24'),
 ('2016-06-07', '2016-06-08'),
 ('2014-04-19', '2014-04-24'),
 ('2015-07-24', '2015-07-24'),
 ('2014-08-22', '2014-08-27'),
 ('2013-02-06', '2013-02-06'),
 ('2015-07-28', '2015-07-30'),
 ('2014-03-05', '2014-03-05'),
 ('2015-12-30', '2015-12-30'),
 ('2016-01-27', '2016-01-27'),
 ('2014-01-08', '2014-01-10'),
 ('2015-11-23', '2015-11-23'),
 ('2016-08-30', '2016-08-30'),
 ('2012-05-11', '2012-05-11'),
 ('2014-01-08', '2014-01-10'),
 ('2013-08-02', '2013-08-06'),
 ('2015-12-04', '2015-12-09'),
 ('2016-06-14', '2016-06-14'),
 ('2016-01-31', '2016-01-31'),
 ('2014-03-24', '2014-03-23'),
 ('2012-04-24', '2012-04-25'),
 ('2016-05-26', '2016-05-26'),
 ('2015-06-25', '2015-07-27'),
 ('2012-03-01', '2012-03-23'),
 ('2013-09-11', '2013-09-11'),
 ('2015-02-03', '2015-02-09'),
 ('2013-05-01', '2013-05-02'),
 ('2016-04-21', '2016-04-21'),
 ('2015-09-21', '2015-09-21'),
 ('2015-11-04', '2015-11-04'),
 ('2014-01-06', '2014-01-08'),
 ('2014-09-05', '2014-09-05'),
 ('2012-08-23', '2012-08-23'),
 ('2013-07-09', '2013-07-10'),
 ('2013-07-24', '2013-07-25'),
 ('2014-05-08', '2014-05-08'),
 ('2012-02-22', '2012-02-27'),
 ('2013-01-14', '2013-01-15'),
 ('2016-05-23', '2016-05-25'),
 ('2013-11-08', '2013-11-12'),
 ('2016-03-10', '2016-03-11'),
 ('2012-03-15', '2012-03-16'),
 ('2014-03-18', '2014-03-18'),
 ('2015-10-23', '2015-11-02'),
 ('2015-10-31', '2015-10-31'),
 ('2016-05-26', '2016-06-01'),
 ('2015-04-15', '2015-04-15'),
 ('2014-01-22', '2014-01-21'),
 ('2015-07-27', '2015-07-27'),
 ('2012-07-13', '2012-07-17'),
 ('2013-11-19', '2013-11-26'),
 ('2013-10-04', '2013-10-04'),
 ('2013-06-27', '2013-07-02'),
 ('2016-01-31', '2016-02-09'),
 ('2016-04-29', '2016-05-04'),
 ('2014-09-25', '2014-10-02'),
 ('2013-10-24', '2013-10-25'),
 ('2015-11-25', '2015-11-25'),
 ('2014-04-17', '2014-04-23'),
 ('2016-02-28', '2016-02-28'),
 ('2012-07-31', '2012-08-08'),
 ('2013-10-18', '2013-10-21'),
 ('2015-03-05', '2015-03-11'),
 ('2016-04-19', '2016-04-19'),
 ('2013-08-10', '2013-08-14'),
 ('2014-01-22', '2014-01-23'),
 ('2014-10-20', '2014-10-24'),
 ('2014-05-07', '2014-05-07'),
 ('2015-04-28', '2015-05-06'),
 ('2014-03-17', '2014-03-27'),
 ('2016-01-15', '2016-01-19'),
 ('2014-10-13', '2014-10-13'),
 ('2013-03-13', '2013-04-01'),
 ('2013-11-19', '2013-11-19'),
 ('2013-07-31', '2013-07-31'),
 ('2016-02-15', '2016-02-18'),
 ('2015-06-24', '2015-06-24'),
 ('2014-01-09', '2014-01-13'),
 ('2016-04-04', '2016-04-04'),
 ('2015-10-08', '2015-10-13'),
 ('2014-03-24', '2014-03-31'),
 ('2012-08-16', '2012-08-17'),
 ('2016-04-01', '2016-04-05'),
 ('2013-10-30', '2013-10-31'),
 ('2016-02-10', '2016-02-10'),
 ('2015-08-22', '2015-08-22'),
 ('2015-11-25', '2015-11-25'),
 ('2015-02-26', '2015-02-26'),
 ('2015-08-27', '2015-08-27'),
 ('2016-02-12', '2016-02-17'),
 ('2013-12-30', '2013-12-30'),
 ('2013-08-12', '2013-08-14'),
 ('2015-01-05', '2015-01-08'),
 ('2014-01-16', '2014-01-16'),
 ('2012-12-10', '2012-12-11'),
 ('2014-08-08', '2014-08-12'),
 ('2015-04-15', '2015-04-15'),
 ('2016-02-10', '2016-02-11'),
 ('2015-05-13', '2015-05-14'),
 ('2013-04-09', '2013-04-09'),
 ('2016-05-10', '2016-05-10'),
 ('2015-05-05', '2015-05-05'),
 ('2014-05-17', '2014-05-17'),
 ('2012-11-20', '2012-11-21'),
 ('2016-07-18', '2016-07-18'),
 ('2016-02-18', '2016-02-24'),
 ('2016-02-10', '2016-02-10'),
 ('2014-02-06', '2014-02-12'),
 ('2016-02-26', '2016-03-01'),
 ('2012-05-20', '2012-06-01'),
 ('2014-07-02', '2014-07-08'),
 ('2013-05-15', '2013-05-15'),
 ('2014-02-09', '2014-02-10'),
 ('2016-03-12', '2016-03-12'),
 ('2013-04-11', '2013-04-12'),
 ('2016-03-31', '2016-04-04'),
 ('2014-02-19', '2014-02-19'),
 ('2014-08-27', '2014-09-02'),
 ('2014-10-07', '2014-10-20'),
 ('2016-02-08', '2016-02-08'),
 ('2014-04-10', '2014-05-01'),
 ('2015-10-26', '2015-10-28'),
 ('2012-11-08', '2012-11-09'),
 ('2012-07-06', '2012-07-10'),
 ('2014-08-11', '2014-08-11'),
 ('2016-01-20', '2016-01-20'),
 ('2016-05-18', '2016-05-18'),
 ('2015-10-15', '2015-10-15'),
 ('2016-04-04', '2016-04-04'),
 ('2012-04-05', '2012-04-06'),
 ('2015-02-19', '2015-02-25'),
 ('2013-01-02', '2013-01-03'),
 ('2015-08-19', '2015-08-19'),
 ('2013-11-15', '2013-11-15'),
 ('2016-07-06', '2016-07-07'),
 ('2015-09-23', '2015-09-23'),
 ('2013-01-09', '2013-01-10'),
 ('2012-04-14', '2012-04-16'),
 ('2015-04-30', '2015-05-04'),
 ('2014-04-26', '2014-04-26'),
 ('2012-11-05', '2012-11-06'),
 ('2014-01-06', '2014-01-06'),
 ('2014-11-05', '2014-11-05'),
 ('2013-05-03', '2013-05-06'),
 ('2012-02-22', '2012-02-23'),
 ('2014-11-26', '2014-11-26'),
 ('2014-04-02', '2014-04-07'),
 ('2012-02-26', '2012-02-27'),
 ('2014-05-05', '2014-05-07'),
 ('2015-01-20', '2015-01-20'),
 ('2015-02-19', '2015-02-26'),
 ('2016-08-22', '2016-08-22'),
 ('2012-04-03', '2012-04-10'),
 ('2016-05-08', '2016-05-08'),
 ('2016-07-08', '2016-07-08'),
 ('2014-08-26', '2014-08-29'),
 ('2015-11-02', '2015-11-03'),
 ('2015-09-02', '2015-09-06'),
 ('2015-05-14', '2015-05-14'),
 ('2014-07-30', '2014-07-30'),
 ('2013-05-22', '2013-05-23'),
 ('2012-03-07', '2012-03-07'),
 ('2015-05-01', '2015-05-04'),
 ('2013-01-23', '2013-07-31'),
 ('2014-01-29', '2014-02-05'),
 ('2015-10-28', '2015-10-28'),
 ('2015-08-23', '2015-08-23'),
 ('2013-10-24', '2013-10-25'),
 ('2015-10-09', '2015-10-09'),
 ('2013-10-03', '2013-10-03'),
 ('2014-03-16', '2014-03-17'),
 ('2014-01-15', '2014-01-15'),
 ('2013-07-16', '2013-08-02'),
 ('2014-04-29', '2014-05-02'),
 ('2014-07-21', '2014-07-21'),
 ('2014-05-20', '2014-05-20'),
 ('2013-01-08', '2013-01-11'),
 ('2014-04-11', '2014-04-11'),
 ('2016-03-07', '2016-03-09'),
 ('2015-10-14', '2015-10-16'),
 ('2015-04-10', '2015-04-10'),
 ('2012-11-06', '2012-11-06'),
 ('2013-11-25', '2013-11-26'),
 ('2012-09-14', '2012-09-14'),
 ('2016-03-12', '2016-03-12'),
 ('2015-11-21', '2015-11-21'),
 ('2015-10-29', '2015-10-30'),
 ('2014-06-26', '2014-07-15'),
 ('2015-10-07', '2015-10-07'),
 ('2014-07-02', '2014-07-08'),
 ('2016-01-07', '2016-01-07'),
 ('2015-08-08', '2015-09-23'),
 ('2015-04-08', '2015-04-08'),
 ('2015-07-27', '2015-07-29'),
 ('2012-03-02', '2012-03-02'),
 ('2016-03-23', '2016-03-23'),
 ('2014-08-22', '2014-08-27'),
 ('2015-06-16', '2015-06-16'),
 ('2013-03-20', '2013-03-22'),
 ('2013-02-26', '2013-02-25'),
 ('2014-11-18', '2014-11-18'),
 ('2016-03-16', '2016-03-16'),
 ('2012-11-02', '2012-11-05'),
 ('2016-04-26', '2016-04-26'),
 ('2012-05-15', '2012-05-18'),
 ('2014-06-25', '2014-06-27'),
 ('2015-04-20', '2015-04-20'),
 ('2014-06-30', '2014-06-30'),
 ('2012-11-23', '2012-11-29'),
 ('2015-07-13', '2015-07-13'),
 ('2014-10-03', '2014-10-08'),
 ('2016-03-25', '2016-03-29'),
 ('2015-09-22', '2015-09-22'),
 ('2013-11-17', '2013-12-03'),
 ('2012-01-06', '2012-01-10'),
 ('2016-03-03', '2016-03-07'),
 ('2012-08-12', '2012-08-19'),
 ('2013-03-27', '2013-03-28'),
 ('2013-03-12', '2013-03-14'),
 ('2015-12-23', '2015-12-23'),
 ('2014-02-05', '2014-02-26'),
 ('2015-07-10', '2015-07-13'),
 ('2015-12-14', '2015-12-14'),
 ('2016-07-14', '2016-07-14'),
 ('2013-05-20', '2013-05-20'),
 ('2012-10-02', '2012-10-02'),
 ('2016-05-02', '2016-05-02'),
 ('2015-12-18', '2015-12-23'),
 ('2014-08-20', '2014-08-25'),
 ('2012-01-03', '2012-01-03'),
 ('2012-12-28', '2012-12-31'),
 ('2016-03-29', '2016-04-01'),
 ('2012-03-06', '2012-03-06'),
 ('2013-08-19', '2013-08-20'),
 ('2016-04-01', '2016-04-01'),
 ('2016-02-09', '2016-02-12'),
 ('2015-09-03', '2015-09-09'),
 ('2016-03-22', '2016-03-22'),
 ('2012-12-24', '2012-12-27'),
 ('2015-07-21', '2015-07-27'),
 ('2014-08-04', '2014-08-06'),
 ('2013-11-19', '2013-12-04'),
 ('2015-08-08', '2015-08-17'),
 ('2013-09-06', '2013-09-06'),
 ('2014-08-20', '2014-09-08'),
 ('2014-05-30', '2014-05-30'),
 ('2015-06-18', '2015-06-18'),
 ('2012-10-19', '2012-10-19'),
 ('2013-04-22', '2013-04-23'),
 ('2013-08-05', '2013-08-09'),
 ('2015-07-08', '2015-07-09'),
 ('2016-05-16', '2016-05-18'),
 ('2014-09-22', '2014-09-22'),
 ('2016-04-22', '2016-04-26'),
 ('2013-08-02', '2013-08-07'),
 ('2016-02-16', '2016-02-22'),
 ('2013-07-02', '2013-07-09'),
 ('2015-07-22', '2015-07-22'),
 ('2014-11-18', '2014-11-18'),
 ('2013-06-18', '2013-06-19'),
 ('2014-08-11', '2014-08-29'),
 ('2015-05-27', '2015-05-27'),
 ('2012-09-21', '2012-09-24'),
 ('2014-03-07', '2014-03-13'),
 ('2015-08-25', '2015-08-25'),
 ('2015-04-28', '2015-05-05'),
 ('2013-03-04', '2013-03-05'),
 ('2015-12-15', '2015-12-17'),
 ('2014-08-18', '2014-08-18'),
 ('2013-07-11', '2013-07-19'),
 ('2013-02-12', '2013-02-13'),
 ('2014-01-05', '2014-01-07'),
 ('2014-09-05', '2014-09-05'),
 ('2014-06-30', '2014-06-30'),
 ('2013-05-22', '2013-05-22'),
 ('2015-06-03', '2015-06-08'),
 ('2014-07-31', '2014-08-06'),
 ('2015-04-22', '2015-04-22'),
 ('2013-12-27', '2013-12-26'),
 ('2015-10-23', '2015-10-27'),
 ('2012-11-26', '2012-11-29'),
 ('2014-09-05', '2014-09-05'),
 ('2013-02-13', '2013-02-20'),
 ('2013-04-09', '2013-04-09'),
 ('2016-03-27', '2016-03-27'),
 ('2014-07-17', '2014-08-04'),
 ('2012-03-20', '2012-03-20'),
 ('2015-04-27', '2015-04-27'),
 ('2015-06-26', '2015-06-26'),
 ('2013-02-15', '2013-02-15'),
 ('2014-04-25', '2014-04-29'),
 ('2015-10-29', '2015-10-30'),
 ('2016-01-27', '2016-02-02'),
 ('2014-02-19', '2014-03-04'),
 ('2012-08-08', '2012-08-15'),
 ('2015-08-17', '2015-08-17'),

In [87]:
from datetime import date

In [88]:

com_all['Date received']=pd.to_datetime(com_all['Date received'], infer_datetime_format=True)
com_all['Date sent to company']=pd.to_datetime(com_all['Date sent to company'], infer_datetime_format=True)

In [89]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,CPR_No public response,CPR_Opportunity_improvement,CPR_Res_cons_noresponse,CPR_blank,CPR_misunderstanding,Submitted via_Fax,Submitted via_Phone,Submitted via_Postal mail,Submitted via_Referral,Submitted via_Web
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [90]:
ndays = com_all['Date sent to company'] - com_all['Date received']
com_all['Response in days'] =  pd.DataFrame(ndays)

In [91]:
print(com_all['Response in days'][1])

6 days 00:00:00

In [92]:
com_all['Response in days'].head()

0    1 days
1    6 days
2   21 days
3    0 days
4    8 days
Name: Response in days, dtype: timedelta64[ns]

In [93]:
com_all['Response in days'] =com_all['Response in days'].astype(str)

In [94]:
com_all['Response in days'].head()

0     1 days 00:00:00.000000000
1     6 days 00:00:00.000000000
2    21 days 00:00:00.000000000
3     0 days 00:00:00.000000000
4     8 days 00:00:00.000000000
Name: Response in days, dtype: object

In [95]:

com_all['Response in days'] = [x.split('days')[0] for x in com_all['Response in days']]
com_all['Response in days'].head()

0     1
1     6
2    21
3     0
4     8
Name: Response in days, dtype: object

In [96]:
com_all['Response in days']=com_all['Response in days'].astype(int)

In [97]:
com_all['Response in days'].dtypes

dtype('int32')

In [98]:
com_all['month_received'] = pd.DatetimeIndex(com_all['Date received']).month

In [99]:
com_all['month_received'].head()

0     5
1     9
2     3
3     7
4    11
Name: month_received, dtype: int64

In [100]:
com_all['month_sent'] = pd.DatetimeIndex(com_all['Date sent to company']).month

In [101]:
com_all['month_sent'].head()

0     5
1     9
2     4
3     7
4    11
Name: month_sent, dtype: int64

In [102]:
com_all['week_received']=com_all['Date received'].dt.week
com_all['week_received'].head()

0    20
1    38
2    11
3    29
4    47
Name: week_received, dtype: int64

In [103]:
com_all['week_sent']=com_all['Date sent to company'].dt.week
com_all['week_sent'].head()

0    20
1    39
2    14
3    29
4    48
Name: week_sent, dtype: int64

In [104]:
ls=list(zip(com_all.columns,com_all.dtypes,com_all.isnull().sum()))
ls

[('Date received', dtype('<M8[ns]'), 0),
 ('Sub-product_0', dtype('int64'), 0),
 ('Sub-product_1', dtype('int64'), 0),
 ('Sub-product_2', dtype('int64'), 0),
 ('Sub-product_3', dtype('int64'), 0),
 ('Sub-product_4', dtype('int64'), 0),
 ('Sub-product_5', dtype('int64'), 0),
 ('Sub-product_6', dtype('int64'), 0),
 ('Issue_0', dtype('int64'), 0),
 ('Issue_1', dtype('int64'), 0),
 ('Issue_2', dtype('int64'), 0),
 ('Issue_3', dtype('int64'), 0),
 ('Issue_4', dtype('int64'), 0),
 ('Issue_5', dtype('int64'), 0),
 ('Issue_6', dtype('int64'), 0),
 ('Issue_7', dtype('int64'), 0),
 ('Sub-issue_0', dtype('int64'), 0),
 ('Sub-issue_1', dtype('int64'), 0),
 ('Sub-issue_2', dtype('int64'), 0),
 ('Sub-issue_3', dtype('int64'), 0),
 ('Sub-issue_4', dtype('int64'), 0),
 ('Sub-issue_5', dtype('int64'), 0),
 ('Sub-issue_6', dtype('int64'), 0),
 ('Sub-issue_7', dtype('int64'), 0),
 ('Consumer complaint narrative', dtype('O'), 504376),
 ('Company', dtype('float64'), 0),
 ('Date sent to company', dtype('<M8[ns]'), 0),
 ('Timely response?', dtype('int32'), 0),
 ('Consumer disputed?', dtype('O'), 119606),
 ('Complaint ID', dtype('int64'), 0),
 ('data', dtype('O'), 0),
 ('Product_Bank account or service', dtype('uint8'), 0),
 ('Product_Consumer Loan', dtype('uint8'), 0),
 ('Product_Credit card', dtype('uint8'), 0),
 ('Product_Credit reporting', dtype('uint8'), 0),
 ('Product_Debt collection', dtype('uint8'), 0),
 ('Product_Money transfers', dtype('uint8'), 0),
 ('Product_Mortgage', dtype('uint8'), 0),
 ('Product_Other financial service', dtype('uint8'), 0),
 ('Product_Payday loan', dtype('uint8'), 0),
 ('Product_Prepaid card', dtype('uint8'), 0),
 ('Product_Student loan', dtype('uint8'), 0),
 ('Product_Virtual currency', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent not provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent withdrawn', dtype('uint8'), 0),
 ('Consumer consent provided?_Other', dtype('uint8'), 0),
 ('Consumer consent provided?_Unknown', dtype('uint8'), 0),
 ('State_AE', dtype('uint8'), 0),
 ('State_AK', dtype('uint8'), 0),
 ('State_AL', dtype('uint8'), 0),
 ('State_AP', dtype('uint8'), 0),
 ('State_AR', dtype('uint8'), 0),
 ('State_AZ', dtype('uint8'), 0),
 ('State_CA', dtype('uint8'), 0),
 ('State_CO', dtype('uint8'), 0),
 ('State_CT', dtype('uint8'), 0),
 ('State_DC', dtype('uint8'), 0),
 ('State_DE', dtype('uint8'), 0),
 ('State_FL', dtype('uint8'), 0),
 ('State_FM', dtype('uint8'), 0),
 ('State_GA', dtype('uint8'), 0),
 ('State_GU', dtype('uint8'), 0),
 ('State_HI', dtype('uint8'), 0),
 ('State_IA', dtype('uint8'), 0),
 ('State_ID', dtype('uint8'), 0),
 ('State_IL', dtype('uint8'), 0),
 ('State_IN', dtype('uint8'), 0),
 ('State_KS', dtype('uint8'), 0),
 ('State_KY', dtype('uint8'), 0),
 ('State_LA', dtype('uint8'), 0),
 ('State_MA', dtype('uint8'), 0),
 ('State_MD', dtype('uint8'), 0),
 ('State_ME', dtype('uint8'), 0),
 ('State_MH', dtype('uint8'), 0),
 ('State_MI', dtype('uint8'), 0),
 ('State_MN', dtype('uint8'), 0),
 ('State_MO', dtype('uint8'), 0),
 ('State_MP', dtype('uint8'), 0),
 ('State_MS', dtype('uint8'), 0),
 ('State_MT', dtype('uint8'), 0),
 ('State_NC', dtype('uint8'), 0),
 ('State_ND', dtype('uint8'), 0),
 ('State_NE', dtype('uint8'), 0),
 ('State_NH', dtype('uint8'), 0),
 ('State_NJ', dtype('uint8'), 0),
 ('State_NM', dtype('uint8'), 0),
 ('State_NV', dtype('uint8'), 0),
 ('State_NY', dtype('uint8'), 0),
 ('State_OH', dtype('uint8'), 0),
 ('State_OK', dtype('uint8'), 0),
 ('State_OR', dtype('uint8'), 0),
 ('State_PA', dtype('uint8'), 0),
 ('State_PR', dtype('uint8'), 0),
 ('State_RI', dtype('uint8'), 0),
 ('State_SC', dtype('uint8'), 0),
 ('State_SD', dtype('uint8'), 0),
 ('State_TN', dtype('uint8'), 0),
 ('State_TX', dtype('uint8'), 0),
 ('State_UT', dtype('uint8'), 0),
 ('State_VA', dtype('uint8'), 0),
 ('State_VI', dtype('uint8'), 0),
 ('State_VT', dtype('uint8'), 0),
 ('State_WA', dtype('uint8'), 0),
 ('State_WI', dtype('uint8'), 0),
 ('State_WV', dtype('uint8'), 0),
 ('State_WY', dtype('uint8'), 0),
 ('CRC_Closed', dtype('uint8'), 0),
 ('CRC_Closed with explanation', dtype('uint8'), 0),
 ('CRC_Closed with monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with non-monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with relief', dtype('uint8'), 0),
 ('CRC_Closed without relief', dtype('uint8'), 0),
 ('CPR_Act_approp_law', dtype('uint8'), 0),
 ('CPR_Actions_third_party', dtype('uint8'), 0),
 ('CPR_Cannot_dispute', dtype('uint8'), 0),
 ('CPR_Dispute_facts', dtype('uint8'), 0),
 ('CPR_Isolated_error', dtype('uint8'), 0),
 ('CPR_No public response', dtype('uint8'), 0),
 ('CPR_Opportunity_improvement', dtype('uint8'), 0),
 ('CPR_Res_cons_noresponse', dtype('uint8'), 0),
 ('CPR_blank', dtype('uint8'), 0),
 ('CPR_misunderstanding', dtype('uint8'), 0),
 ('Submitted via_Fax', dtype('uint8'), 0),
 ('Submitted via_Phone', dtype('uint8'), 0),
 ('Submitted via_Postal mail', dtype('uint8'), 0),
 ('Submitted via_Referral', dtype('uint8'), 0),
 ('Submitted via_Web', dtype('uint8'), 0),
 ('Response in days', dtype('int32'), 0),
 ('month_received', dtype('int64'), 0),
 ('month_sent', dtype('int64'), 0),
 ('week_received', dtype('int64'), 0),
 ('week_sent', dtype('int64'), 0)]

In [105]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [106]:
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()

lemma = WordNetLemmatizer()
my_stop=set(stopwords.words('english')+list(punctuation))

In [107]:
def split_into_lemmas(message):
    message=message.lower()
    words = word_tokenize(message)
    words_sans_stop=[]
    for word in words :
        if word in my_stop:continue
        words_sans_stop.append(word)
    stems = []
    for t in words_sans_stop:    
        stems.append(porter.stem(t))
    return [lemma.lemmatize(word) for word in stems]

In [108]:
com_all['Consumer complaint narrative'].head()

0                                                  NaN
1                                                  NaN
2                                                  NaN
3    My credit card statement from US Bank, XXXX. X...
4                                                  NaN
Name: Consumer complaint narrative, dtype: object

In [109]:
com_all['Consumer complaint narrative'] = com_all['Consumer complaint narrative'].fillna('')

In [110]:
com_all['Consumer complaint narrative']

0
1
2
3         My credit card statement from US Bank, XXXX. X...
4
                                ...
598022
598023    On XXXX/XXXX/16 a dispute and validation of a ...
598024
598025
598026
Name: Consumer complaint narrative, Length: 598027, dtype: object

In [111]:
import re

In [112]:
com_all['Consumer complaint narrative'] = com_all['Consumer complaint narrative'].str.replace('\d+', '')
com_all['Consumer complaint narrative'] = com_all['Consumer complaint narrative'].str.replace('xxx+', '',)
com_all['Consumer complaint narrative'] = com_all['Consumer complaint narrative'].str.replace('XXX+', '',)
name=[]
for cat in com_all['Consumer complaint narrative']:
    result = re.sub(r"[,@\"\'?&\.$%()/\\{}_*+-]", "", cat, flags=re.I)
    name.append(result)

In [113]:
com_all['Consumer complaint narrative']=name

In [114]:
com_all['Consumer complaint narrative']

0
1
2
3         My credit card statement from US Bank      MO ...
4
                                ...
598022
598023    On  a dispute and validation of a bankruptcy b...
598024
598025
598026
Name: Consumer complaint narrative, Length: 598027, dtype: object

In [115]:
com_all['Consumer complaint narrative'][7]

'I have a mortgage with Quicken Loans From   when I refinanced with them I paid my mortgage payment the month it was due though I had experienced a major shift in income I cashed out  and worked where I could to pay the mortgage Due to change in employment and loss of income I started to run short of funds in the latter part of  In   I filed for Chapter  bankruptcy then got behind with mortgage payments I communicated through my bankruptcy attorney early in  that I wanted to seek loss mitigation and keep my home In   I filed paperwork with Quicken Loans to seek a loan modification or more affordable payments During this time they motioned the bankruptcy court to lift the stay protecting me from their collection efforts so they could continue to collect on the loan and seek foreclosure despite my bankruptcy They reviewed over  pages of documents clearly showing that my income was not stable and I could not afford the close to  per month mortgage payment Despite this they offered me a six month repayment plan to pay close to  per month  mortgage payment plus catch up past due payments  when I could not even afford the regular mortgage payment During the month of   they even violated my bankruptcy by asking me when I would make a payment and my bankruptcy did not discharge until    Their motion to lift the stay had not been officially approved by the court either which speaks to their unethical tactics I immediately called them when I received the letter regarding the repayment plan to express concern that it was unaffordable and to reiterate that I asked for a Loan Modification I receive a letter some days later that I have not been in touch with them  despite many faxes emails and phone calls  The letter says that since I have not been in touch they are withdrawing the offer my loss mitigation application and I should contact them for further information Unbelievable! I have been consistently working with Quicken Loans to seek a loan workout since  of  After submitting all of this documentation I am asked to start all over again in the month of   They informed me to sign new documents and submit more pay stubs bank statements and other documentation to conduct another review Meanwhile I am afraid I will lose my home to foreclosure and we are struggling to put money together to pay the mortgage We were able to pay in  and  of  but not  of  due to their ridiculous delays game playing unethical tactics etc As of    I still have no viable workout solution to keep my home All I have requested is a Loan Modification per FHA guidelines in order to resolve this situation Now I have submitted well over  documents to them and sent fax after fax at their request I am cooperating with them they are not cooperating with me It seems to me that they want to foreclose on the home Due to their convoluted process and game playing I am now owing for   and  They could have worked something out with me when I was only  payments behind I have proven a reduction in income and fluctuating income Any mortgage company with a heart would have worked something out with me at this point I question their motives and their agenda They need to be reported for these practices and other people around the country should be aware of Quicken Loans They advertise that they have won awards from  however they have serious issues and are not for the customer as they claim to be I am attaching additional documentation for review that substantiates what I have said here I have reported Quicken Loans to the Department of Housing and Urban Development due to these issues as well and have an open case with them I desperately need your help \n'

In [116]:
tfidf= TfidfVectorizer(analyzer=split_into_lemmas,max_df=0.85 , min_df=0.05 , max_features=200,
                       stop_words=my_stop)

In [ ]:
com_all

In [117]:
com_all['Consumer complaint narrative'].isnull().sum()

0

In [118]:
tfidf.fit(com_all['Consumer complaint narrative'])

TfidfVectorizer(analyzer=<function split_into_lemmas at 0x000002893A2F78B8>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=0.85, max_features=200,
                min_df=0.05, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words={'!', '"', '#', '$', '%', '&', "'", '(', ')', '*',
                            '+', ',', '-', '.', '/', ':', ';', '<', '=', '>',
                            '?', '@', '[', '\\', ']', '^', '_', '`', 'a',
                            'about', ...},
                strip_accents=None, sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [119]:
tfidf_data=tfidf.transform(com_all['Consumer complaint narrative'])
#com_all['CCN_tf'] = list(tfidf.fit_transform(com_all['Consumer complaint narrative'].toarray())

In [120]:
tfidf_data.shape

(598027, 8)

In [121]:
tfidf.get_feature_names()

['account', 'call', 'credit', 'payment', 'receiv', 'report', 'time', 'would']

In [122]:

df = pd.DataFrame(tfidf_data.toarray(), columns=tfidf.get_feature_names())

In [123]:
com_all= pd.concat([com_all, df], axis=1)

In [124]:
com_all.shape

(598027, 141)

In [125]:
com_all.head()

,Date received,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,...,week_received,week_sent,account,call,credit,payment,receiv,report,time,would
0,2014-05-15,0,0,0,0,0,0,1,0,0,...,20,20,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
1,2014-09-18,0,0,0,0,0,1,0,0,0,...,38,39,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
2,2014-03-13,0,0,0,0,0,0,1,0,0,...,11,14,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
3,2015-07-17,0,0,0,0,0,0,1,0,0,...,29,29,0.0,0.580247,0.553768,0.0,0.0,0.0,0.597205,0.0
4,2014-11-20,0,0,0,0,0,0,1,0,0,...,47,48,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0

In [ ]:
for cols in com_all.columns.tolist()[1:]:
    if com_all[cols].dtype != 'object' and com_all[cols].dtype !='datetime64[ns]':
        data = com_all.ix[com_all[cols] < 0]

In [ ]:
data

In [126]:
com_all.columns

Index(['Date received', 'Sub-product_0', 'Sub-product_1', 'Sub-product_2',
       'Sub-product_3', 'Sub-product_4', 'Sub-product_5', 'Sub-product_6',
       'Issue_0', 'Issue_1',
       ...
       'week_received', 'week_sent', 'account', 'call', 'credit', 'payment',
       'receiv', 'report', 'time', 'would'],
      dtype='object', length=141)

In [127]:
com_all['Consumer complaint narrative'].head()

0
1
2
3    My credit card statement from US Bank      MO ...
4
Name: Consumer complaint narrative, dtype: object

In [128]:
com_all.drop(['Consumer complaint narrative','Date received','Date sent to company'],axis=1,inplace=True)

In [129]:
com_all.columns

Index(['Sub-product_0', 'Sub-product_1', 'Sub-product_2', 'Sub-product_3',
       'Sub-product_4', 'Sub-product_5', 'Sub-product_6', 'Issue_0', 'Issue_1',
       'Issue_2',
       ...
       'week_received', 'week_sent', 'account', 'call', 'credit', 'payment',
       'receiv', 'report', 'time', 'would'],
      dtype='object', length=138)

In [ ]:
for cols in com_all.columns.tolist()[1:]:
    if com_all[cols].dtype != 'object' and com_all[cols].dtype !='datetime64[ns]':
        data = com_all.ix[com_all[cols] < 0]

In [ ]:
data

In [130]:
com_all['Consumer disputed?'].head()

0    No
1    No
2    No
3    No
4    No
Name: Consumer disputed?, dtype: object

In [131]:
ls=list(zip(com_all.columns,com_all.dtypes,com_all.isnull().sum()))
ls

[('Sub-product_0', dtype('int64'), 0),
 ('Sub-product_1', dtype('int64'), 0),
 ('Sub-product_2', dtype('int64'), 0),
 ('Sub-product_3', dtype('int64'), 0),
 ('Sub-product_4', dtype('int64'), 0),
 ('Sub-product_5', dtype('int64'), 0),
 ('Sub-product_6', dtype('int64'), 0),
 ('Issue_0', dtype('int64'), 0),
 ('Issue_1', dtype('int64'), 0),
 ('Issue_2', dtype('int64'), 0),
 ('Issue_3', dtype('int64'), 0),
 ('Issue_4', dtype('int64'), 0),
 ('Issue_5', dtype('int64'), 0),
 ('Issue_6', dtype('int64'), 0),
 ('Issue_7', dtype('int64'), 0),
 ('Sub-issue_0', dtype('int64'), 0),
 ('Sub-issue_1', dtype('int64'), 0),
 ('Sub-issue_2', dtype('int64'), 0),
 ('Sub-issue_3', dtype('int64'), 0),
 ('Sub-issue_4', dtype('int64'), 0),
 ('Sub-issue_5', dtype('int64'), 0),
 ('Sub-issue_6', dtype('int64'), 0),
 ('Sub-issue_7', dtype('int64'), 0),
 ('Company', dtype('float64'), 0),
 ('Timely response?', dtype('int32'), 0),
 ('Consumer disputed?', dtype('O'), 119606),
 ('Complaint ID', dtype('int64'), 0),
 ('data', dtype('O'), 0),
 ('Product_Bank account or service', dtype('uint8'), 0),
 ('Product_Consumer Loan', dtype('uint8'), 0),
 ('Product_Credit card', dtype('uint8'), 0),
 ('Product_Credit reporting', dtype('uint8'), 0),
 ('Product_Debt collection', dtype('uint8'), 0),
 ('Product_Money transfers', dtype('uint8'), 0),
 ('Product_Mortgage', dtype('uint8'), 0),
 ('Product_Other financial service', dtype('uint8'), 0),
 ('Product_Payday loan', dtype('uint8'), 0),
 ('Product_Prepaid card', dtype('uint8'), 0),
 ('Product_Student loan', dtype('uint8'), 0),
 ('Product_Virtual currency', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent not provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent provided', dtype('uint8'), 0),
 ('Consumer consent provided?_Consent withdrawn', dtype('uint8'), 0),
 ('Consumer consent provided?_Other', dtype('uint8'), 0),
 ('Consumer consent provided?_Unknown', dtype('uint8'), 0),
 ('State_AE', dtype('uint8'), 0),
 ('State_AK', dtype('uint8'), 0),
 ('State_AL', dtype('uint8'), 0),
 ('State_AP', dtype('uint8'), 0),
 ('State_AR', dtype('uint8'), 0),
 ('State_AZ', dtype('uint8'), 0),
 ('State_CA', dtype('uint8'), 0),
 ('State_CO', dtype('uint8'), 0),
 ('State_CT', dtype('uint8'), 0),
 ('State_DC', dtype('uint8'), 0),
 ('State_DE', dtype('uint8'), 0),
 ('State_FL', dtype('uint8'), 0),
 ('State_FM', dtype('uint8'), 0),
 ('State_GA', dtype('uint8'), 0),
 ('State_GU', dtype('uint8'), 0),
 ('State_HI', dtype('uint8'), 0),
 ('State_IA', dtype('uint8'), 0),
 ('State_ID', dtype('uint8'), 0),
 ('State_IL', dtype('uint8'), 0),
 ('State_IN', dtype('uint8'), 0),
 ('State_KS', dtype('uint8'), 0),
 ('State_KY', dtype('uint8'), 0),
 ('State_LA', dtype('uint8'), 0),
 ('State_MA', dtype('uint8'), 0),
 ('State_MD', dtype('uint8'), 0),
 ('State_ME', dtype('uint8'), 0),
 ('State_MH', dtype('uint8'), 0),
 ('State_MI', dtype('uint8'), 0),
 ('State_MN', dtype('uint8'), 0),
 ('State_MO', dtype('uint8'), 0),
 ('State_MP', dtype('uint8'), 0),
 ('State_MS', dtype('uint8'), 0),
 ('State_MT', dtype('uint8'), 0),
 ('State_NC', dtype('uint8'), 0),
 ('State_ND', dtype('uint8'), 0),
 ('State_NE', dtype('uint8'), 0),
 ('State_NH', dtype('uint8'), 0),
 ('State_NJ', dtype('uint8'), 0),
 ('State_NM', dtype('uint8'), 0),
 ('State_NV', dtype('uint8'), 0),
 ('State_NY', dtype('uint8'), 0),
 ('State_OH', dtype('uint8'), 0),
 ('State_OK', dtype('uint8'), 0),
 ('State_OR', dtype('uint8'), 0),
 ('State_PA', dtype('uint8'), 0),
 ('State_PR', dtype('uint8'), 0),
 ('State_RI', dtype('uint8'), 0),
 ('State_SC', dtype('uint8'), 0),
 ('State_SD', dtype('uint8'), 0),
 ('State_TN', dtype('uint8'), 0),
 ('State_TX', dtype('uint8'), 0),
 ('State_UT', dtype('uint8'), 0),
 ('State_VA', dtype('uint8'), 0),
 ('State_VI', dtype('uint8'), 0),
 ('State_VT', dtype('uint8'), 0),
 ('State_WA', dtype('uint8'), 0),
 ('State_WI', dtype('uint8'), 0),
 ('State_WV', dtype('uint8'), 0),
 ('State_WY', dtype('uint8'), 0),
 ('CRC_Closed', dtype('uint8'), 0),
 ('CRC_Closed with explanation', dtype('uint8'), 0),
 ('CRC_Closed with monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with non-monetary relief', dtype('uint8'), 0),
 ('CRC_Closed with relief', dtype('uint8'), 0),
 ('CRC_Closed without relief', dtype('uint8'), 0),
 ('CPR_Act_approp_law', dtype('uint8'), 0),
 ('CPR_Actions_third_party', dtype('uint8'), 0),
 ('CPR_Cannot_dispute', dtype('uint8'), 0),
 ('CPR_Dispute_facts', dtype('uint8'), 0),
 ('CPR_Isolated_error', dtype('uint8'), 0),
 ('CPR_No public response', dtype('uint8'), 0),
 ('CPR_Opportunity_improvement', dtype('uint8'), 0),
 ('CPR_Res_cons_noresponse', dtype('uint8'), 0),
 ('CPR_blank', dtype('uint8'), 0),
 ('CPR_misunderstanding', dtype('uint8'), 0),
 ('Submitted via_Fax', dtype('uint8'), 0),
 ('Submitted via_Phone', dtype('uint8'), 0),
 ('Submitted via_Postal mail', dtype('uint8'), 0),
 ('Submitted via_Referral', dtype('uint8'), 0),
 ('Submitted via_Web', dtype('uint8'), 0),
 ('Response in days', dtype('int32'), 0),
 ('month_received', dtype('int64'), 0),
 ('month_sent', dtype('int64'), 0),
 ('week_received', dtype('int64'), 0),
 ('week_sent', dtype('int64'), 0),
 ('account', dtype('float64'), 0),
 ('call', dtype('float64'), 0),
 ('credit', dtype('float64'), 0),
 ('payment', dtype('float64'), 0),
 ('receiv', dtype('float64'), 0),
 ('report', dtype('float64'), 0),
 ('time', dtype('float64'), 0),
 ('would', dtype('float64'), 0)]

In [132]:
num = com_all._get_numeric_data()
num[num < 0] = 0

In [133]:
com_all[com_all['Response in days']<0]

Empty DataFrame
Columns: [Sub-product_0, Sub-product_1, Sub-product_2, Sub-product_3, Sub-product_4, Sub-product_5, Sub-product_6, Issue_0, Issue_1, Issue_2, Issue_3, Issue_4, Issue_5, Issue_6, Issue_7, Sub-issue_0, Sub-issue_1, Sub-issue_2, Sub-issue_3, Sub-issue_4, Sub-issue_5, Sub-issue_6, Sub-issue_7, Company, Timely response?, Consumer disputed?, Complaint ID, data, Product_Bank account or service, Product_Consumer Loan, Product_Credit card, Product_Credit reporting, Product_Debt collection, Product_Money transfers, Product_Mortgage, Product_Other financial service, Product_Payday loan, Product_Prepaid card, Product_Student loan, Product_Virtual currency, Consumer consent provided?_Consent not provided, Consumer consent provided?_Consent provided, Consumer consent provided?_Consent withdrawn, Consumer consent provided?_Other, Consumer consent provided?_Unknown, State_AE, State_AK, State_AL, State_AP, State_AR, State_AZ, State_CA, State_CO, State_CT, State_DC, State_DE, State_FL, State_FM, State_GA, State_GU, State_HI, State_IA, State_ID, State_IL, State_IN, State_KS, State_KY, State_LA, State_MA, State_MD, State_ME, State_MH, State_MI, State_MN, State_MO, State_MP, State_MS, State_MT, State_NC, State_ND, State_NE, State_NH, State_NJ, State_NM, State_NV, State_NY, State_OH, State_OK, State_OR, State_PA, State_PR, State_RI, State_SC, State_SD, State_TN, State_TX, State_UT, State_VA, State_VI, State_VT, ...]
Index: []

[0 rows x 138 columns]

In [134]:
com_train=com_all[com_all['data']=='train']
del com_train['data']
com_test=com_all[com_all['data']=='test']
com_test.drop(['Consumer disputed?','data'],axis=1,inplace=True)

C:\Users\Datta\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [135]:
com_train.head()

,Sub-product_0,Sub-product_1,Sub-product_2,Sub-product_3,Sub-product_4,Sub-product_5,Sub-product_6,Issue_0,Issue_1,Issue_2,...,week_received,week_sent,account,call,credit,payment,receiv,report,time,would
0,0,0,0,0,0,0,1,0,0,0,...,20,20,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
1,0,0,0,0,0,1,0,0,0,0,...,38,39,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
2,0,0,0,0,0,0,1,0,0,0,...,11,14,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0
3,0,0,0,0,0,0,1,0,0,0,...,29,29,0.0,0.580247,0.553768,0.0,0.0,0.0,0.597205,0.0
4,0,0,0,0,0,0,1,0,0,0,...,47,48,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0

In [136]:
com_train.columns

Index(['Sub-product_0', 'Sub-product_1', 'Sub-product_2', 'Sub-product_3',
       'Sub-product_4', 'Sub-product_5', 'Sub-product_6', 'Issue_0', 'Issue_1',
       'Issue_2',
       ...
       'week_received', 'week_sent', 'account', 'call', 'credit', 'payment',
       'receiv', 'report', 'time', 'would'],
      dtype='object', length=137)

In [137]:
com_test.columns

Index(['Sub-product_0', 'Sub-product_1', 'Sub-product_2', 'Sub-product_3',
       'Sub-product_4', 'Sub-product_5', 'Sub-product_6', 'Issue_0', 'Issue_1',
       'Issue_2',
       ...
       'week_received', 'week_sent', 'account', 'call', 'credit', 'payment',
       'receiv', 'report', 'time', 'would'],
      dtype='object', length=136)

In [138]:
com_train['Consumer disputed?'].value_counts()

No     376990
Yes    101431
Name: Consumer disputed?, dtype: int64

In [139]:
com_train['Consumer disputed?']=np.where(com_train['Consumer disputed?']=="Yes",1,0)

C:\Users\Datta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [140]:
com_train['Consumer disputed?'].dtype

dtype('int32')

In [141]:
from sklearn.model_selection import train_test_split

In [142]:
com_train1,com_train2=train_test_split(com_train,test_size=0.2,random_state=2)

In [143]:
com_train1.shape, com_train2.shape

((382736, 137), (95685, 137))

In [145]:
x_train1=com_train1.drop(['Consumer disputed?','Complaint ID'],axis=1)
y_train1=com_train1['Consumer disputed?']
x_train2=com_train2.drop(['Consumer disputed?','Complaint ID'],axis=1)   ## validation test data
y_train2=com_train2['Consumer disputed?']

In [146]:
x_train1.shape,y_train1.shape,x_train2.shape,y_train2.shape

((382736, 135), (382736,), (95685, 135), (95685,))

In [147]:
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score

In [148]:
clf_nb=MultinomialNB()

NameError: name 'x_train' is not defined

In [150]:
from sklearn.model_selection import KFold

In [151]:
x_train=com_train.drop(['Consumer disputed?','Complaint ID'],axis=1)
y_train=com_train['Consumer disputed?']
x_test=com_test.drop('Complaint ID',axis=1)

In [152]:
x_train.shape,y_train.shape,x_test.shape

((478421, 135), (478421,), (119606, 135))

In [159]:
# auc_10cv=[]
# kf = KFold(n_splits=10)
# #kf = KFold(len(x_train), n_splits=10)
# score_c=0
# for train, test in kf.split(x_train):
#     clf_nb.fit(x_train.loc[train], y_train[train])
#     score_c+=roc_auc_score(y_train,clf_nb.predict(x_train))
    
# auc_10cv.append(score_c/10)
# auc_10cv=np.array(auc_10cv)
# best_auc=max(auc_10cv)

In [160]:
# best_auc

0.5392054182682368

In [153]:
clf_nb.fit(x_train1,y_train1)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [154]:
accuracy_score(y_train2,clf_nb.predict(x_train2))

0.6940690808381669

In [155]:
roc_auc_score(y_train2,clf_nb.predict(x_train2))

0.5416763050917102

In [308]:
from sklearn.metrics import roc_curve

C:\Users\Datta\Anaconda3\lib\site-packages\sklearn\metrics\ranking.py:659: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  UndefinedMetricWarning)

nan

In [156]:
com_train.shape,com_test.shape

((478421, 137), (119606, 136))

In [145]:
# x_train=com_train.drop('Consumer disputed?',axis=1)
# y_train=com_train['Consumer disputed?']
# x_test=com_test

In [157]:
clf_nb.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [158]:
y_pred=clf_nb.predict(x_test)

In [ ]:
com_test = pd.read_csv(ftest)

In [161]:

test_file=pd.DataFrame({'Complaint ID':com_test['Complaint ID'],'Consumer disputed?':np.where(y_pred==1,"Yes","No")})

In [162]:
test_file.to_csv("Sample_Submission1.csv",index=False)

In [163]:
prediction=np.where(clf_nb.predict(com_test.drop(['Complaint ID'],1))==1,"Yes","No")
submission=pd.DataFrame(list(zip(com_test['Complaint ID'],list(prediction))),
                       columns=['Complaint ID','Consumer disputed?'])

In [165]:
submission.to_csv('sample_submission_3.csv',index=False)